<h1>Listing idiomas</h1>

<table>
  <thead>
    <tr>
      <th>Idioma</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @idiomas.each do |idioma| %>
      <tr>
        <td><%= idioma.idioma %></td>
        <td><%= link_to 'Show', idioma %></td>
        <td><%= link_to 'Edit', edit_idioma_path(idioma) %></td>
        <td><%= link_to 'Destroy', idioma, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Idioma', new_idioma_path %>
