<%= form_for(@vacante) do |f| %>
  <% if @vacante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vacante.errors.count, "error") %> prohibited this vacante from being saved:</h2>

      <ul>
      <% @vacante.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :business %><br>
    <%= f.text_field :business %>
  </div>
  <div class="field">
    <%= f.label :business_id %><br>
    <%= f.number_field :business_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
