<style type="text/css">
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

body {
    background-color: white;
    padding-top: 0px;
    padding-bottom: 30px;
}

.panel-google-plus {
    position: relative;
    border-radius: 5px;
    width: 900px;
    border: 1px solid hsl(198, 29%, 93%);
    font-family: 'Roboto', sans-serif;
}
.panel-google-plus > .panel-google-plus-tags {
    position: absolute;
    top: 35px;
    right: -3px;
}
.panel-google-plus > .panel-google-plus-tags > ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.panel-google-plus > .panel-google-plus-tags > ul:hover {
    /*box-shadow: 0px 0px 3px rgb(0, 0, 0); */  
    /*box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);   */
}
.panel-google-plus > .panel-google-plus-tags > ul > li {
    display: block;
    right: 0px;
    width: 0px;
    padding: 5px 0px 5px 0px;
    background-color: hsl(194, 64%, 55%); /*color tags*/
    color: white;
    font-size: 12px;
    overflow: hidden;
}
.panel-google-plus > .panel-google-plus-tags > ul > li::after {
    content:"";
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    border-right: 2px solid hsl(138, 54%, 59%);
}
.panel-google-plus > .panel-google-plus-tags > ul:hover > li,
.panel-google-plus > .panel-google-plus-tags > ul > li:first-child {
    padding: 5px 15px 5px 10px;
    width: auto;
    cursor: pointer;
    margin-left: auto;
}
.panel-google-plus > .panel-google-plus-tags > ul:hover > li {
    /*background-color: rgb(255, 255, 255);  */ 
}
.panel-google-plus > .panel-google-plus-tags > ul > li:hover {
    opacity: .95;
    /*background-color: hsl(194, 64%, 55%);*/
    color: rgb(255, 255, 255);
}
.panel-google-plus > .panel-heading,
.panel-google-plus > .panel-footer {
    background-color: hsl(195, 29%, 97%);
    border-width: 0px; 
}
.panel-google-plus > .panel-heading {
    margin-top: 20px;    
    padding-bottom: 5px; 
}
.panel-google-plus > .panel-heading > img { 
    margin-right: 15px;
}
.panel-google-plus > .panel-heading > h3 {
    margin: 0px;
    font-size: 14px;
    font-weight: 700;
}
.panel-google-plus > .panel-heading > h5 {
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
}
.panel-google-plus > .panel-body {
    padding-top: 5px;
    font-size: 13px;
}
.panel-google-plus > .panel-body > .panel-google-plus-image {
    display: block;
    text-align: center;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(217, 217, 217);
}
.panel-google-plus > .panel-body > .panel-google-plus-image > img {
    max-width: 100%;
}

.panel-google-plus > .panel-footer {
    font-size: 14px;
    font-weight: 700;
    min-height: 54px;
}
.panel-google-plus > .panel-footer > .btn {
    float: left;
    margin-right: 8px;
}
.panel-google-plus > .panel-footer > .input-placeholder {
    display: block;
    margin-left: 98px;
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
    padding: 8px 6px 7px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}
.panel-google-plus.panel-google-plus-show-comment > .panel-footer > .input-placeholder {
    display: none;   
}
.panel-google-plus > .panel-google-plus-comment {
    display: none;
    padding: 10px 20px 15px;
    border-top: 1px solid rgb(229, 229, 229);
    background-color: rgb(245, 245, 245);
}
.panel-google-plus.panel-google-plus-show-comment > .panel-google-plus-comment {
    display: block;
}
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea {
    float: right;
    width: calc(100% - 56px);
}
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > textarea {
    display: block;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
    resize: vertical;
}
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > .btn {
    margin-top: 10px;
    margin-right: 8px;
    width: 100%;
}
@media (min-width: 992px) {
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > .btn {
    width: auto;
}    
}

.panel-google-plus .btn {
    border-radius: 3px;   
}
.panel-google-plus .btn-default {
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}
.panel-google-plus .btn-default:hover, 
.panel-google-plus .btn-default:focus, 
.panel-google-plus .btn-default:active {
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);    
}
.primary{
    position: fixed!important;
    z-index: 1000;
    height: 50px!important;
    background-color:hsl(200, 3%, 35%);
}
.panel-google-plus{top:60px;}
.subnav ul {
    position: fixed!important;
    width: 100%;
    z-index: 1000;
    list-style: none;
    background-color: hsl(195, 29%, 97%);
    text-align: left;
    padding: 0;
    margin: 0;
  }
.subnav li {
    font-family: 'Oswald', sans-serif;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
}
   
.subnav a {
    text-decoration: none;
    color: black;
    display: block;
    transition: .3s background-color;
    font-size: 14px;
    text-align: center;
}
 
.subnav a:hover {background-color: white;}
.subnav a.active {
    background-color: #fff;
    color: black;
    cursor: default;
}
 
@media screen and (min-width: 600px) {
.subnav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
}
  /* Option 1 - Display Inline */
.subnav li {
    display: inline-block;
    margin-right: -4px;
}
.multilinea{
    word-wrap: break-word;
    white-space: pre-wrap;
}
.rojo{
    background-color:  hsl(359, 75%, 60%)!important;
    color: white;
}
.rojo:hover{
    background-color:  hsl(359, 75%, 60%)!important;
    color: white;
}
.cv{padding-left: 10px;}
#header{border-bottom: none!important;}
 }

</style>
<script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>


<div class="subnav">
    <ul class="subnav-list">
      <li>
        <a href="/mis_vacantes" aria-selected="true" class="subnav-item">Mis vacantes</a>
      </li>
      <li>
        <a href="/nueva_vacante" aria-selected="true" class="subnav-item">Nueva vacante</a>
      </li>
      <li>
        <a href="/jobs/new" aria-selected="true" class="subnav-item">Buscar cv's</a>
      </li>
      <li>
        <a href="/Perfil" aria-selected="true" class="subnav-item">Configuración</a>
      </li>
    </ul>
</div>
<div class="container">
    <div class="row">
        <div class="[ col-xs-12 col-sm-offset-1 col-sm-5 ]">
            <div class="[ panel panel-default ] panel-google-plus">
                <div class="panel-google-plus-tags">
                    <ul><li><%= @job.tag.name %></li></ul>
                    <ul><li>$ <%= @job.salary %></li></ul> 
                </div>
                <div class="panel-heading">
                    <%= image_tag @job.business.logo_url(:thumb), :class=> "[ img-circle pull-left ]",size: "45x45" if @job.business.logo? %>
                    <h3><%= @job.business.name%>
                      <% if @job.business.verificated.nil? %>
                      <% else %>
                        <%= image_tag("verified_account.png", size: "20x20" , data: { toggle: 'tooltip', placement: 'top', original_title: 'Empresa verificada' }) %> 
                      <% end %>
                    </h3>
                    <h5><span>Publicado hace <%= time_ago_in_words(@job.created_at) %></span> </h5>
                </div>
                <div class="panel-body">
                    <h5><%= @job.name%></h5>
                    <p class="multilinea"><%= @job.description %></p>
                    <p class="multilinea"><%= @job.tools %></p>
                    <h5>Lugar de trabajo: <span><%= @job.country.name %></span>  </h5>
                    <h5> Tipo de contratación: <span><%= @job.type_contract %> | </span><span> Horario de trabajo: <%= @job.day_type %></span></h5>
                    <h5>Número de vacantes: <span><%= @job.number_jobs %></span></h5>
                    <h5>Años de experiencia: <span><%= @job.year_experience %></span></h5>
                    <h5>Edad minima: <span><%= @job.minimum_age %> | </span>Edad maxima: <span><%= @job.maximum_age %></span></h5>
                    <h5>Idioma: <span><%= @job.language %> | </span>Porcentaje:<span><%= @job.percentage_language %></span>  </h5>
                    <h5>Disponibilidad para viajar: <span><%= @job.availability_travel %></span>  </h5>
                    <h5>Disponibilidad para cambiar de residencia: <span><%= @job.change_home %></span>  </h5>
                </div>
                <div class="panel-footer">
                    <% if user_signed_in? %> 
                      <% if @job.applications.map(&:user_id).include? current_user.id %>
                          <button type="button" disabled class="[ btn btn-default rojo ]">Participando <li class ="glyphicon glyphicon-ok"></li></button>
                          <%= link_to 'Regresar', "/vacantes_sugeridas", :class => "[ btn btn-default ]" %>
                      <% else %>
                          <p>En base a la información proporcionada cumples con el 90% de los requisitos</p>
                          <%= link_to 'Participar en vacante', aplicar_path(:business_id => @job.business.id, :job_id => @job.id, :cv_id => 1 ), :method => :post,  :class =>"[ btn btn-default ]" %>
                      <% end %>
                    <% else %>
                      <%= link_to 'Regresar', "/mis_vacantes", :class => "[ btn btn-default ]" %>
                    <% end %>
                    <p>Views: <%= @job.countclicks %></p> 
                      <% if empresa_signed_in? %> 
                          Esta vacante cuenta con <a role="button" data-toggle="collapse" href="#listpostulaciones" aria-expanded="false" aria-controls="listpostulaciones"><%= @job.applications.count %></a> postulaciones
                          <div class="collapse" id="listpostulaciones">
                          <div class="well">
                            <% @job.applications.each do |application|%>
                              <div> Nombre: <%= application.user.name %>
                                <span class="cv">CV: <%= application.cv.title %></span>
                              </div>
                            <% end %>
                          </div>
                      </div>
                     <% else %>
                     <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

