
<%= estilo_cv %>
<%= render 'style_new' %>
<script type="text/javascript">
	 $(document).ready(function() {
  /* Activating Best In Place */
 	 jQuery(".best_in_place").best_in_place();

	 });
</script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
<script src="https://rawgit.com/arqex/react-json/master/build/Json.js"></script>
<script src="//cdn.jsdelivr.net/refluxjs/0.2.11/reflux.min.js"></script>

<br>
<!-- Ménu izquierdo-->
<div class="by amt">
	<div class="dg">
		<div class="go">
			      <div class="qw rd aog alu">
			        <div class="qx">
			          <h5 class="ald">Opciones <small></small></h5>
			          <ul class="eb tc">
			            <li>
			            	<span class="fa fa-download fa-lg"></span>
			            	<%= link_to I18n.t('cv_boton_descargar') , "/preview.pdf", :class => "[]" %>
			            </li>
			            <li>
			            	<span class="fa fa-globe fa-lg"></span>
			            	<%= link_to 'Publicar', publicar_cv_path(), :method => :post %>
			            </li>
			            <li>
			            	<span class="fa fa-star fa-lg"></span>
			            	Estatus: <%= @status %>
			            </li>
			            <li>
			            	<span class="fa fa-eye fa-lg"></span>
			            		Número de visitas: <span id="countview"></span> 	
			            </li>
			            <li>
			            	<span class="fa fa-suitcase fa-lg"></span>
			            		Mi portafolio <span></span> 	
			            </li>
			          </ul>
			        </div>
			      </div>
		        </div>
<!-- Menu izquierda -->				

    	<div class="ha">
		      <ul class="ca qp anx">
		      <% if @guid_publico.blank? %>
		      	
			        <% else %>
						<% if @guid_publico.guid.blank? %>
	                    <% else %>
				      	<li class="qg b aml collapse" id="collapseExample">
				      	<h5 class="ald">Compartir <a href="<%= @server %>/worbe?guid=<%= @guid_publico.guid %>" class="centrar" id="url"><%= @server %>/worbe?guid=<%= @guid_publico.guid %></a></h5>

				      	<%= form_tag(enviar_email_path(:email => :email) ,:method => 'get') do %>
				      	<div class="input-group">
						  <%= email_field_tag 'email', nil, :class => "form-control",:placeholder=>"Ingresa el email al que le quieres compartir tu CV" %>
						   <div class="fj" id="fj">
						  	<%= submit_tag "Compartir", :class=>"cg fm" do %>
						  		<span class="fa fa-paper-plane fa-lg"></span>
						  	<% end %>
						  </div>
						</div>
						<% end %>      
				        </li><% end %>
				        <div id ="mensaje"></div>
			        <% end %>
		      	 <li class="qg b aml">
				        <% if @cv.blank? %>
				            <h4 class="centrar">Click para agregar un título</h4>
				        <% else %>
				            <h4 class="centrar centrar1">
				            <%= best_in_place @cv , :title, :html_attrs => { :style => 'width:500px; height:auto; border-style:none;' } %>
				            </h4>
				        <% end %>
				        <br>
				        <br>
				        <h4 class ="title">
				          <%=  I18n.t('cv_titulo_datos_generales')  %>
				        </h4>
				        <% if @cv.blank? %>
				        <% else %>
				        <div id="contenedor">
				          <div class="margendgs">
				            <div class="nombre editar">
				              <strong><%= best_in_place @nombre, :name,{ :style => 'width:auto; height:auto; border-style:none;' } %>
				              </strong>
				            </div>
				            <div>
				              <%= I18n.t('cv_fecha_nacimiento')%>
				              <span class="editar">
				                <%= best_in_place @datebirthday, :datebirthday ,:html_attrs => { :style => 'width:auto; height:auto; border-style:none;' } %>
				              </span>
				            </div>
				            <div>
				              <%= I18n.t('cv_edad')     %>
				              <span class="editar">
				                <%= best_in_place @age, :age ,:html_attrs => { :style => 'width:auto; height:auto; border-style:none;' }  %>
				              </span>
				            </div>
				            <div>
				              <%= I18n.t('cv_direccion')%> 
				              <span class="editar">
				              <%= best_in_place @address, :address ,:html_attrs => { :style => 'width:300px; height:auto; border-style:none;' } %>
				              </span>
				            </div>
				            <div>
				              <%= I18n.t('cv_telefono1')%>
				              <span class="editar">
				               <%= best_in_place @phone1, :phone1,:html_attrs => { :style => 'width:auto; height:auto; border-style:none;' }   %>
				              </span>
				            </div>
				            <div>
				              <%= I18n.t('cv_telefono2')%>
				              <span class="editar">
				               <%= best_in_place @phone2, :phone2,:html_attrs => { :style => 'width:auto; height:auto; border-style:none;' }   %>
				              </span> 
				            </div>
				            <div>
				              <%= I18n.t('cv_email')    %>
				              <span class="editar">
				               <%= best_in_place @email, :email, :html_attrs => { :style => 'width:auto; height:auto; border-style:none;' }    %>
				              </span>
				            </div>
				          </div>
				          <div class="imagen">
				            <img class= "img" src="<%= @photo.photo_url(:thumb) %>">
				          	
				          </div>
				        </div>
				        <% end %>
				  <!-- * Sección de educación * -->

				        <%= educations_margen_botton %>
						        <h4 class="margen"><%= I18n.t('cv_titulo_educacion') %> </h4>
						          <span class="tamaño" id="add_estudios">
						          	<span class="fa fa-plus fa-lg"></span>
						          	<%= link_to 'Agregar', add_educations_path(), :method => :post,  :class =>"[]" %>
						          </span>
						          <% if @cv.blank? %>
						          <% else %>
						          <!-- Empieza sección educations -->
							      <% @educations.each do |a| %>
							            <div class="margen" id="estudios">
							              <div>
					                          <strong>
					                            <labe id="lbl-nivel" /><%= I18n.t('cv_nivel') %>
					                          </strong>
					                          <span class="editar">
					                            <%= best_in_place a, :level, :as => :select, :collection => [["Carreta técnica", "Carreta técnica"],["Nivel Superior", "Nivel Superior"], ["Especialidad", "Especialidad"], ["Maestria", "Maestria"], ["Doctorado", "Doctorado"]], :prompt => true, :html_attrs => { :style => 'width:auto; height:auto; border-style:none;' }  %>
					                          </span>
		                        		  </div>
				                        <div>
					                          <strong>
					                            <%= I18n.t('form_titulo_ed') %>
					                          </strong> 
					                          <span class="editar">
					                            <%= best_in_place a, :title, :html_attrs => { :style => 'width:auto; height:auto; border-style:none;' } %>
					                          </span>
				                        </div>
		                        <div>
		                          <strong>
		                            <%= I18n.t('cv_escuela')%>
		                          </strong>
		                          <span class="editar"> 
		                            <%= best_in_place a, :school, :html_attrs => { :style => 'width:auto; height:auto; border-style:none;' } %>
		                          </span>
		                        </div>
		                        <div>
		                        <strong>
		                          <%= I18n.t('cv_año_inicial')%>
		                        </strong> 
		                        <span class="editar">
		                          <%= best_in_place a, :yearInitial, :html_attrs => { :style => 'width:auto; height:auto; border-style:none;' } %>
		                        </span>
		                          <strong>
		                            <%= I18n.t('cv_año_final')%>
		                          </strong>
		                          <span class="editar">
		                            <%= best_in_place a, :yearFinal, :html_attrs => { :style => 'width:auto; height:auto; border-style:none;' } %>
		                        </span>
		                        </div>
		                        <div>
		                          <strong>
		                            <%= I18n.t('cv_documento_recibido')%>
		                          </strong> 
		                          <span class="editar">
		                            <%= best_in_place a, :DocumentReceived, :html_attrs => { :style => 'width:auto; height:auto; border-style:none;' } %>
		                          </span>
		                        </div>
		                         <span class="tamaño">
		                         <span class="fa fa-times-circle fa-lg"></span>
		                           <%= link_to 'Eliminar', delete_education_path(:id => a.id), method: :delete, data: { confirm: 'Are you sure?' } %>
		                       </span>
		                        <hr>
					            </div>
					            <% end -%>
					            <!-- Fin de la sección de edications -->
				      		<% end %>



				      			<!-- Empieza sección experiences -->
				        	<div>
				        		<h4   class="margen"><%= I18n.t('cv_titulo_experiencia') %></h4>
					            <span class="tamaño">
					          	<span class="fa fa-plus fa-lg"></span>
					            <%= link_to 'Agregar', add_experiences_path(), :method => :post,  :class =>"[]" %>
					          	</span>
				      		</div>
				      	 <% if @cv.blank? %>
				          <% else %>
						        <% @experiences.each do |g| %>
						          <div class="margen">
						            <div>
						              <strong>
						                <span class="editar"> <%= best_in_place g, :datei, :html_attrs => { :style => 'width:auto; height:auto; border-style:none;' } %></span> -- <span class="editar"><%= best_in_place g, :datef, :html_attrs => { :style => 'width:auto; height:auto; border-style:none;' } %></span>
						              </strong>
						            </div>
						            <div>
						              <strong>
						                <%= I18n.t('cv_empresa') %>
						                <span class="editar">
						                  <%= best_in_place g, :business, :html_attrs => { :style => 'width:auto; height:auto; border-style:none;' } %>
						                </span>
						              </strong>
						            </div>
						            <div>
						              <strong>
						                Puesto: <span class="editar">
						                  <%= best_in_place g, :Puesto, :html_attrs => { :style => 'width:auto; height:auto; border-style:none;' } %>
						                </span>
						              </strong>
						            </div>
						            <div>
						              <strong>
						                Actividades desempeñadas:
						              </strong>
						            </div>
						            <div class="editar_multilinea">
						              <%= best_in_place g, :description,:as => :textarea,:display_with => :simple_format, :html_attrs => { :style => 'width:500px; height:auto; border-style:none;' }  %>
						            </div>
						            <span class="tamaño">
						          		 <span class="fa fa-times-circle fa-lg"></span>
						            <%= link_to 'Eliminar', delete_experiences_path(:id => g.id), method: :delete, data: { confirm: 'Are you sure?' },  :class =>"[]" %>
						        	</span>
						          </div>
						        <% end -%>
						        <!-- finaliza sección de experiences-->
						      <% end %>
						    <!-- Empieza sección courses-->
				        	<h4 class="margen"><%= I18n.t('cv_titulo_cursos') %></h4>
				        	<span class="tamaño">
					          	<span class="fa fa-plus fa-lg"></span>
				            <%= link_to 'Agregar', add_courses_path(), :method => :post,  :class =>"[]" %>
				          </span>
				         <% if @cv.blank? %>
				         <% else %>
					        <% @courses.each do |b| %>
					          <div class="margen">
					            <div class="curso_name">* 
					              <span class="editar">
					                <%= best_in_place b, :name, :html_attrs => { :style => 'width:500px; height:auto; border-style:none;' }  %>
					              </span> 
					            </div>
					            <div>
					              <strong>
					                <%= I18n.t('cv_descripcion_curso')  %>
					              </strong>
					              <span class="editar">
					              <%= best_in_place b, :description ,:html_attrs => { :style => 'width:500px; height:auto; border-style:none;'} %>
					              </span>
					            </div>
					            <span class="tamaño">
						          	<span class="fa fa-times-circle fa-lg"></span>
					            	<%= link_to 'Eliminar', delete_courses_path(:id => b.id), method: :delete, data: { confirm: 'Are you sure?' },  :class =>"[]" %>
					            	</span>
					          </div>  
					        <% end -%>
					        <!-- finaliza sección courses -->
					        <% end %>
				        <!-- Empieza sección idiomas -->
				        <h4 class="margen"><%= I18n.t('cv_titulo_idiomas') %></h4>
				          <span class="tamaño">
					          	<span class="fa fa-plus fa-lg"></span>
				            <%= link_to 'Agregar', add_idiomas_path(), :method => :post,  :class =>"[]" %>
				          </span>
				         <% if @cv.blank? %>
				          <% else %>
						        <% @languages.each do |d| %>
						          <div class="margen">
						            <div>
						              <strong>
						                <%= I18n.t('cv_nombre_idioma') %>
						              </strong>
						              <span class="editar">
						                <%= best_in_place d, :name ,:html_attrs => { :style => 'width:500px; height:auto; border-style:none;'} %>
						              </span>
						            </div>
						            <div>
						               <strong>
						                <%= I18n.t('cv_idioma_lectura') %>
						              </strong>
						              
						              <span class="editar">
						                <%= best_in_place d, :read ,:html_attrs => { :style => 'width:500px; height:auto; border-style:none;'} %>
						              </span>
						              </div>
						              <div>
						                <strong>
						                <%= I18n.t('cv_idioma_escritura') %>
						              </strong>
						                <span class="editar">
						                  <%= best_in_place d, :write ,:html_attrs => { :style => 'width:500px; height:auto; border-style:none;'} %>
						                </span>
						              </div>
						              <div>
						                <strong>
						                  <%= I18n.t('cv_idioma_hablado')%>
						                </strong>
						                <span class="editar">
						                  <%= best_in_place d, :spoken ,:html_attrs => { :style => 'width:500px; height:auto; border-style:none;'} %>
						                </span>
						              </div>
						                 <span class="tamaño">
							          	<span class="fa fa-times-circle fa-lg"></span>
						            	<%= link_to 'Eliminar', delete_idiomas_path(:id => d.id), method: :delete, data: { confirm: 'Are you sure?' },  :class =>"[]" %>
						            	</span>
						          </div>
						        <% end -%>
				        <!-- Finaliza sección idiomas -->
				        	<% end %>
				        <!-- Empieza sección certificates-->
				          <h4 class="margen"><%= I18n.t('cv_titulo_certificados') %></h4>
				          	 <span class="tamaño">
					          	<span class="fa fa-plus fa-lg"></span>
				          		<%= link_to 'Agregar', add_certificates_path(),:remote => true ,:method => :post,  :class =>"[]" %>
				          	</span>
				         <% if @cv.blank? %>
				          <% else %>
					          <% @certificates.each do |f| %>
					            <div class="margen">
					              <span class="editar">
					                <%= best_in_place f, :name ,:html_attrs => { :style => 'width:500px; height:auto; border-style:none;'} %>
					              </span>
					              <span class="tamaño">
						          	<span class="fa fa-times-circle fa-lg"></span>
					            		<%= link_to 'Eliminar', delete_certificates_path(:id => f.id),:remote => true, method: :delete, data: { confirm: 'Are you sure?' },  :class =>"[]" %>
					            	</span>
					            </div>
				          <% end -%> 
				          <!-- Finaliza sección certificates -->
				          <% end %>
				          <!-- Empieza sección tags -->
						<span id="palabras_claves"></span>
		         </li>  
		      </ul>
    	</div>
	</div>
</div>






<script type="text/jsx">

	var CountView = React.createClass({
	       getInitialState: function() {
	          return {
	            counter: ""
	          };
	        },
	      
	        componentDidMount: function() {
	          var self = this;
	          $.get(this.props.source, function(result) {
	            var collection = result;
	            if (this.isMounted()) {
	              this.setState({
	                counter: collection
	              });
	            }
	          }.bind(this));
	        },
	        
	        render: function() {   
	          return (
	            <span>
	             {this.state.counter}     
	            </span>
	          );
	        }
	      });

	     React.render(
	    <CountView source="/visitas.json" />,
	      document.getElementById('countview')
	 );

/*
 *  Moduler Tags
 */
    
		var PanelTags = React.createClass({
	datosgenerales: function() {
	    $.ajax({
	        url: "/get_tags" ,
	        dataType: 'json',
	        success: function(data) {
	          this.setState({data: data});
	        }.bind(this)
	    }); 
	},
	chanstate: function(event){
		this.setState({id: event.target.value});
		$.ajax({
    		url: "/delete_tags/" + event.target.value,
    		type: 'DELETE',
    		success: function(result) {
            this.setState({data: []});
    	}.bind(this)
	 });
	 this.datosgenerales();	
	},
	addClick: function(event) {
		  $.post("/add_tags",
		        {
		        },
		        function(data,status){
		        });
		  this.datosgenerales();
	},
	componentDidMount: function() {
	    $.ajax({
	        url: "/get_tags" ,
	        dataType: 'json',
	        success: function(data) {
	          this.setState({data: data});
	        }.bind(this)
		});
	},
	alert: function(event) {
		this.setState({etiqueta: "hola"});
	},
	getInitialState: function() {
	          return {
	          	etiqueta: "prueba",
	          	btn:<div>
	          		<h4 className="margen"><%= I18n.t('cv_tags') %></h4>
	          		<span className="tamaño"> 
	          		<button className="btn btn-default" onClick={this.addClick}>Agregar</button>
	          		</span>	
	          		</div>,
	          	data: [],
	          	panel: ""
	            };	       
	        },
			render: function() {   
				var classe = "best_in_place"
				var type= "input"
				var objeto ="my_tag"
				var atributo = "name"
				var url= "/delete_tags/"; 
				var url_bip = "/my_tags/";
				var id = "best_in_place_my_tag_";
				var ida = "_name";
				var eliminar = this.chanstate;
				var etiqueta = this.state.etiqueta
				var prueba = <span className='best_in_place' data-bip-attribute='name' data-bip-object='my_tag' data-bip-original-content='Prueba de Tag' data-bip-type='input' data-bip-url='/my_tags/121' data-bip-value='Prueba de Tag' id='best_in_place_my_tag_121_name'>Prueba de Tag</span>
				return <div className="editar">{prueba}</div>
				var items = this.state.data.map(function(object){
					return <div key={object.id} className="margen">
								<div>{etiqueta}</div>

								<span key= {object.id}>
									<span key= {object.id} className={classe} data-bip-attribute={atributo} data-bip-object={objeto} data-bip-original-content={object.name} data-bip-type={type} data-bip-url={url_bip + object.id } data-bip-ok-button = "false" data-bip-value={object.name} id={id + object.id + ida}>{object.name}
									</span>
								</span>
								<button onClick={eliminar} value={object.id} className="btn btn-default">Eliminar
							  	</button>
							</div>;
					});
		 			return <div key={items.id} className="editar" onClick={this.alert}>
		 					{this.state.btn}{items}
		 				   </div>;
		 		}
		
	});

	React.render(
	     	<PanelTags deletetag="/delete_tags/" />,
	 document.getElementById('palabras_claves')
	 );
</script>



