
<%= estilo_cv %>
<%= render 'style_new' %>
<script type="text/javascript">
	 $(document).ready(function() {
  /* Activating Best In Place */
 	 jQuery(".best_in_place").best_in_place();
	 });
</script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<div class="by amt">
	<div class="dg">
		<div class="go">
			      <div class="qw rd aog alu">
			        <div class="qx">
			          <h5 class="ald">Opciones <small></small></h5>
			          <ul class="eb tc">
			            <li>
			            	<span class="fa fa-download fa-lg"></span>
			            	<%= link_to I18n.t('cv_boton_descargar') , "/preview.pdf", :class => "[]" %>
			            </li>
			            <li>
			            	<span class="fa fa-globe fa-lg"></span>
			            	<%= link_to 'Publicar', publicar_cv_path(), :method => :post,  :class =>"[ btn btn-success ]" %>
			            </li>
			            <li>
			            	<span class="fa fa-star fa-lg"></span>
			            	Estatus: <%= @status %>
			            </li>
			          </ul>
			        </div>
			      </div>
		        </div>
				

    	<div class="ha">
		      <ul class="ca qp anx">
		      <% if @guid_publico.blank? %>
		      	<% if @guid_publico.guid.blank? %>
                    <% else %>
			      	<li class="qg b aml collapse" id="collapseExample">
			      	<h5 class="ald">Compartir <a href="<%= @server %>/worbe?guid=<%= @guid_publico.guid %>" class="centrar"><%= @server %>/worbe?guid=<%= @guid_publico.guid %></a></h5>
			          <div class="input-group">
			            <input type="text" class="form-control" placeholder="Email">
			            <div class="fj">
			              <button type="button" class="cg fm">
			                <span class="fa fa-paper-plane fa-lg"></span>
			              </button>
			            </div>
			          </div>
			        </li><% end %>
			        <% else %><% end %>
		      	 <li class="qg b aml">
				        <% if @cv.blank? %>
				            <h4 class="centrar">Click para agregar un título</h4>
				        <% else %>
				            <h4 class="centrar centrar1">
				            <%= best_in_place @cv , :title, :html_attrs => { :style => 'width:500px; height:auto; border-style:none;' } %>
				            </h4>
				        <% end %>
				        <br>
				        <br>
				        <h4 class ="title">
				          <%=  I18n.t('cv_titulo_datos_generales')  %>
				        </h4>
				        <% if @cv.blank? %>
				        <% else %>
				        <div id="contenedor">
				          <div class="margendgs">
				            <div class="nombre editar">
				              <strong><%= best_in_place @nombre, :name,{ :style => 'width:auto; height:auto; border-style:none;' } %>
				              </strong>
				            </div>
				            <div>
				              <%= I18n.t('cv_fecha_nacimiento')%>
				              <span class="editar">
				                <%= best_in_place @datebirthday, :datebirthday ,:html_attrs => { :style => 'width:auto; height:auto; border-style:none;' } %>
				              </span>
				            </div>
				            <div>
				              <%= I18n.t('cv_edad')     %>
				              <span class="editar">
				                <%= best_in_place @age, :age ,:html_attrs => { :style => 'width:auto; height:auto; border-style:none;' }  %>
				              </span>
				            </div>
				            <div>
				              <%= I18n.t('cv_direccion')%> 
				              <span class="editar">
				              <%= best_in_place @address, :address ,:html_attrs => { :style => 'width:300px; height:auto; border-style:none;' } %>
				              </span>
				            </div>
				            <div>
				              <%= I18n.t('cv_telefono1')%>
				              <span class="editar">
				               <%= best_in_place @phone1, :phone1,:html_attrs => { :style => 'width:auto; height:auto; border-style:none;' }   %>
				              </span>
				            </div>
				            <div>
				              <%= I18n.t('cv_telefono2')%>
				              <span class="editar">
				               <%= best_in_place @phone2, :phone2,:html_attrs => { :style => 'width:auto; height:auto; border-style:none;' }   %>
				              </span> 
				            </div>
				            <div>
				              <%= I18n.t('cv_email')    %>
				              <span class="editar">
				               <%= best_in_place @email, :email, :html_attrs => { :style => 'width:auto; height:auto; border-style:none;' }    %>
				              </span>
				            </div>
				          </div>
				          <div class="imagen">
				            <img class= "img" src="<%= @photo.photo_url(:thumb) %>">
				          	
				          </div>
				        </div>
				        <% end %>
				  <!-- * Sección de educación * -->

				        <%= educations_margen_botton %>
				        <h4 class="margen"><%= I18n.t('cv_titulo_educacion') %> </h4>
				          <span class="tamaño">
				          	<span class="fa fa-plus fa-lg"></span>
				            <%= link_to 'Agregar', add_educations_path(), :method => :post,  :class =>"[]" %>
				          </span>
				          <% @educations.each do |a| %>
				            <div class="margen">
				              <div>
				                <strong>
				                  <%= I18n.t('cv_nivel') %>
				                </strong>
				                <span class="editar">
				                  <%= best_in_place a, :level, :as => :select, :collection => [["Carreta técnica", "Carreta técnica"],["Nivel Superior", "Nivel Superior"], ["Especialidad", "Especialidad"], ["Maestria", "Maestria"], ["Doctorado", "Doctorado"]], :prompt => true, :html_attrs => { :style => 'width:auto; height:auto; border-style:none;' }  %>
				                </span>
				              </div>
				              <div>
				                <strong>
				                  <%= I18n.t('form_titulo_ed') %>
				                </strong> 
				                <span class="editar">
				                  <%= best_in_place a, :title, :html_attrs => { :style => 'width:auto; height:auto; border-style:none;' } %>
				                </span>
				              </div>
				              <div>
				                <strong>
				                  <%= I18n.t('cv_escuela')%>
				                </strong>
				                <span class="editar"> 
				                  <%= best_in_place a, :school, :html_attrs => { :style => 'width:auto; height:auto; border-style:none;' } %>
				                </span>
				              </div>
				              <div>
				              <strong>
				                <%= I18n.t('cv_año_inicial')%>
				              </strong> 
				              <span class="editar">
				                <%= best_in_place a, :yearInitial, :html_attrs => { :style => 'width:auto; height:auto; border-style:none;' } %>
				              </span>
				                <strong>
				                  <%= I18n.t('cv_año_final')%>
				                </strong>
				                <span class="editar">
				                  <%= best_in_place a, :yearFinal, :html_attrs => { :style => 'width:auto; height:auto; border-style:none;' } %>
				              </span>
				              </div>
				              <div>
				                <strong>
				                  <%= I18n.t('cv_documento_recibido')%>
				                </strong> 
				                <span class="editar">
				                  <%= best_in_place a, :DocumentReceived, :html_attrs => { :style => 'width:auto; height:auto; border-style:none;' } %>
				                </span>
				              </div>
				              <div>
				                <strong>
				                  <%= I18n.t('cv_promedio')%>
				                </strong> 
				                <span class="editar">
				                <%= best_in_place a, :average, :html_attrs => { :style => 'width:auto; height:auto; border-style:none;' } %>
				                </span>
				              </div>
				              <div>
				                <strong>
				                  <%= I18n.t('cv_comentarios') %>
				                </strong>
				                <span class="editar">
				                <%= best_in_place a, :comments, :html_attrs => { :style => 'width:auto; height:auto; border-style:none;' } %>
				                </span>
				              </div>
				               <span class="tamaño">
				          		 <span class="fa fa-times-circle fa-lg"></span>
				             		 <%= link_to 'Eliminar', delete_education_path(:id => a.id), method: :delete, data: { confirm: 'Are you sure?' } %>
				         		 </span>
				              <hr>
				            </div>
				          <% end -%>
				        	<div>
				        		<h4   class="margen"><%= I18n.t('cv_titulo_experiencia') %></h4>
					            <span class="tamaño">
					          	<span class="fa fa-plus fa-lg"></span>
					            <%= link_to 'Agregar', add_experiences_path(), :method => :post,  :class =>"[]" %>
					          	</span>
				      		</div>
				        <% @experiences.each do |g| %>
				          <div class="margen">
				            <div>
				              <strong>
				                <span class="editar"> <%= best_in_place g, :datei, :html_attrs => { :style => 'width:auto; height:auto; border-style:none;' } %></span> -- <span class="editar"><%= best_in_place g, :datef, :html_attrs => { :style => 'width:auto; height:auto; border-style:none;' } %></span>
				              </strong>
				            </div>
				            <div>
				              <strong>
				                <%= I18n.t('cv_empresa') %>
				                <span class="editar">
				                  <%= best_in_place g, :business, :html_attrs => { :style => 'width:auto; height:auto; border-style:none;' } %>
				                </span>
				              </strong>
				            </div>
				            <div>
				              <strong>
				                Puesto: <span class="editar">
				                  <%= best_in_place g, :Puesto, :html_attrs => { :style => 'width:auto; height:auto; border-style:none;' } %>
				                </span>
				              </strong>
				            </div>
				            <div>
				              <strong>
				                Actividades desempeñadas:
				              </strong>
				            </div>
				            <div class="editar_multilinea">
				              <%= best_in_place g, :description,:as => :textarea,:display_with => :simple_format, :html_attrs => { :style => 'width:500px; height:auto; border-style:none;' }  %>
				            </div>
				            <span class="tamaño">
				          		 <span class="fa fa-times-circle fa-lg"></span>
				            <%= link_to 'Eliminar', delete_experiences_path(:id => g.id), method: :delete, data: { confirm: 'Are you sure?' },  :class =>"[]" %>
				        	</span>
				          </div>
				        <% end -%>
				        <h4 class="margen"><%= I18n.t('cv_titulo_cursos') %></h4>
				        	<span class="tamaño">
					          	<span class="fa fa-plus fa-lg"></span>
				            <%= link_to 'Agregar', add_courses_path(), :method => :post,  :class =>"[]" %>
				          </span>
				        <% @courses.each do |b| %>
				          <div class="margen">
				            <div class="curso_name">* 
				              <span class="editar">
				                <%= best_in_place b, :name, :html_attrs => { :style => 'width:500px; height:auto; border-style:none;' }  %>
				              </span> 
				            </div>
				            <div>
				              <strong>
				                <%= I18n.t('cv_descripcion_curso')  %>
				              </strong>
				              <span class="editar">
				              <%= best_in_place b, :description ,:html_attrs => { :style => 'width:500px; height:auto; border-style:none;'} %>
				              </span>
				            </div>
				            <span class="tamaño">
					          	<span class="fa fa-times-circle fa-lg"></span>
				            	<%= link_to 'Eliminar', delete_courses_path(:id => b.id), method: :delete, data: { confirm: 'Are you sure?' },  :class =>"[]" %>
				            	</span>
				          </div>  
				        <% end -%>
				        <hr>
				        <h4 class="margen"><%= I18n.t('cv_titulo_idiomas') %></h4>
				          <span class="tamaño">
					          	<span class="fa fa-plus fa-lg"></span>
				            <%= link_to 'Agregar', add_idiomas_path(), :method => :post,  :class =>"[]" %>
				          </span>
				        <% @languages.each do |d| %>
				          <div class="margen">
				            <div>
				              <strong>
				                <%= I18n.t('cv_nombre_idioma') %>
				              </strong>
				              <span class="editar">
				                <%= best_in_place d, :name ,:html_attrs => { :style => 'width:500px; height:auto; border-style:none;'} %>
				              </span>
				            </div>
				            <div>
				               <strong>
				                <%= I18n.t('cv_idioma_lectura') %>
				              </strong>
				              
				              <span class="editar">
				                <%= best_in_place d, :read ,:html_attrs => { :style => 'width:500px; height:auto; border-style:none;'} %>
				              </span>
				              </div>
				              <div>
				                <strong>
				                <%= I18n.t('cv_idioma_escritura') %>
				              </strong>
				                <span class="editar">
				                  <%= best_in_place d, :write ,:html_attrs => { :style => 'width:500px; height:auto; border-style:none;'} %>
				                </span>
				              </div>
				              <div>
				                <strong>
				                  <%= I18n.t('cv_idioma_hablado')%>
				                </strong>
				                <span class="editar">
				                  <%= best_in_place d, :spoken ,:html_attrs => { :style => 'width:500px; height:auto; border-style:none;'} %>
				                </span>
				              </div>
				                 <span class="tamaño">
					          	<span class="fa fa-times-circle fa-lg"></span>
				            	<%= link_to 'Eliminar', delete_idiomas_path(:id => d.id), method: :delete, data: { confirm: 'Are you sure?' },  :class =>"[]" %>
				            	</span>
				          </div>
				        <% end -%>

				          <h4 class="margen"><%= I18n.t('cv_titulo_certificados') %></h4>
				          	 <span class="tamaño">
					          	<span class="fa fa-plus fa-lg"></span>
				          		<%= link_to 'Agregar', add_certificates_path(), :method => :post,  :class =>"[]" %>
				          	</span>
				          <% @certificates.each do |f| %>
				            <div class="margen">
				              <span class="editar">
				                <%= best_in_place f, :name ,:html_attrs => { :style => 'width:500px; height:auto; border-style:none;'} %>
				              </span>
				              <span class="tamaño">
					          	<span class="fa fa-times-circle fa-lg"></span>
				            		<%= link_to 'Eliminar', delete_certificates_path(:id => f.id), method: :delete, data: { confirm: 'Are you sure?' },  :class =>"[]" %>
				            	</span>
				            </div>
				          <% end -%> 

				        <h4 class="margen"><%= I18n.t('cv_tags') %></h4>
				       		 <span class="tamaño">
					          	<span class="fa fa-plus fa-lg"></span>
				        	<%= link_to 'Agregar', add_tags_path(), :method => :post,  :class =>"[]" %>
				        	</span>
				          <%  @list_tags.each do |a| %>
				          <div class="margen">
				              <div class="editar">
				                <%= best_in_place a, :name ,:html_attrs => { :style => 'width:500px; height:auto; border-style:none;'} %>
				              </div>
				              <span class="tamaño">
					          	<span class="fa fa-times-circle fa-lg"></span>
				             	 <%= link_to 'Eliminar', delete_tags_path(:id => a.id), method: :delete, data: { confirm: 'Are you sure?' },  :class =>"[]" %> 
				          		</span>
				          	</div>
				            <% end -%>

		         </li>  
		      </ul>
    	</div>
	</div>
</div>





