<%= estilo_cv %>
<script type="text/javascript">
	 $(document).ready(function() {
  /* Activating Best In Place */
 	 jQuery(".best_in_place").best_in_place();
	 });
</script>

<div class="container">
  	<div class="row">
        <div class="[ col-xs-12 col-sm-offset-1 col-sm-5 ]">
            <div class="[ panel panel-default ] panel-google-plus" id="panel">
              <div class="panel-heading">
              	<div class="background"></div>
              </div>
              <div class="panel-body">
              	<% if @cv.blank? %>
              	<h4 class="centrar">Click para agregar un título</h4>
              	<% else %>
              	<h4 class="centrar centrar1">
              		<%= best_in_place @cv , :title, :html_attrs => { :style => 'width:500px; height:auto; border-style:none;' } if @cv.title?  %>
              	</h4>
              	<% end %>
				<br>
				<br>
				<h4 class ="title">
					<%=  I18n.t('cv_titulo_datos_generales')  %>
				</h4>
				<% if @cv.blank? %>
				<% else %>
				<div id="contenedor">
					<div class="margendgs">
						<div class="nombre editar">
							<strong><%= best_in_place @nombre, :name,{ :style => 'width:auto; height:auto; border-style:none;' } %>
							</strong>
						</div>
						<div>
							<%= I18n.t('cv_fecha_nacimiento')%>
							<span class="editar">
								<%= best_in_place @datebirthday, :datebirthday ,:html_attrs => { :style => 'width:auto; height:auto; border-style:none;' } %>
							</span>
						</div>
						<div>
							<%= I18n.t('cv_edad')     %>
							<span class="editar">
								<%= best_in_place @age, :age ,:html_attrs => { :style => 'width:auto; height:auto; border-style:none;' }  %>
							</span>
						</div>
						<div>
							<%= I18n.t('cv_direccion')%> 
							<span class="editar">
							<%= best_in_place @address, :address ,:html_attrs => { :style => 'width:300px; height:auto; border-style:none;' } %>
							</span>
						</div>
						<div>
							<%= I18n.t('cv_telefono1')%>
							<span class="editar">
							 <%= best_in_place @phone1, :phone1,:html_attrs => { :style => 'width:auto; height:auto; border-style:none;' }   %>
							</span>
						</div>
						<div>
							<%= I18n.t('cv_telefono2')%>
							<span class="editar">
							 <%= best_in_place @phone2, :phone2,:html_attrs => { :style => 'width:auto; height:auto; border-style:none;' }   %>
							</span> 
						</div>
						<div>
							<%= I18n.t('cv_email')    %>
							<span class="editar">
							 <%= best_in_place @email, :email, :html_attrs => { :style => 'width:auto; height:auto; border-style:none;' }    %>
							</span>
						</div>
					</div>
					<div class="imagen">
						<img class= "img" src="<%= @photo.photo_url(:thumb) %>" width ="130px" >
					</div>
				</div>
				<% end %>
	<!-- * Sección de educación * -->

				<%= educations_margen_botton %>
				<h4 class="margen"><%= I18n.t('cv_titulo_educacion') %><span><%= link_to 'Agregar +', add_educations_path(), :method => :post,  :class =>"[ btn btn-default btn_publicar ]" %></span></h4>

					<% @educations.each do |a| %>
						<div class="margen">
							<div>
								<strong>
									<%= I18n.t('cv_nivel') if a.level  %>
								</strong>
								<span class="editar">
									<%= best_in_place a, :level, :as => :select, :collection => [["Carreta técnica", "Carreta técnica"],["Nivel Superior", "Nivel Superior"], ["Especialidad", "Especialidad"], ["Maestria", "Maestria"], ["Doctorado", "Doctorado"]], :prompt => true, :html_attrs => { :style => 'width:auto; height:auto; border-style:none;' }  %>
								</span>
							</div>
							<div>
								<strong>
									<%= I18n.t('form_titulo_ed') if a.title? %>
								</strong> 
								<span class="editar">
									<%= best_in_place a, :title, :html_attrs => { :style => 'width:auto; height:auto; border-style:none;' } %>
								</span>
							</div>
							<div>
								<strong>
									<%= I18n.t('cv_escuela')if a.school %>
								</strong>
								<span class="editar"> 
									<%= best_in_place a, :school, :html_attrs => { :style => 'width:auto; height:auto; border-style:none;' } %>
								</span>
							</div>
							<div>
							<strong>
								<%= I18n.t('cv_año_inicial') if a.yearInitial?%>
							</strong> 
							<span class="editar">
								<%= best_in_place a, :yearInitial, :html_attrs => { :style => 'width:auto; height:auto; border-style:none;' } %>
							</span>
						    <strong>
						    	<%= I18n.t('cv_año_final')   if a.yearFinal?  %>
						    </strong>
						    <span class="editar">
						    	<%= best_in_place a, :yearFinal, :html_attrs => { :style => 'width:auto; height:auto; border-style:none;' } %>
							</span>
							</div>
							<div>
								<strong>
									<%= I18n.t('cv_documento_recibido')if a.DocumentReceived? %>
								</strong> 
								<span class="editar">
									<%= best_in_place a, :DocumentReceived, :html_attrs => { :style => 'width:auto; height:auto; border-style:none;' } %>
								</span>
							</div>
							<div>
								<strong>
									<%= I18n.t('cv_promedio')    if a.average?  %>
								</strong> 
								<span class="editar">
								<%= best_in_place a, :average, :html_attrs => { :style => 'width:auto; height:auto; border-style:none;' } %>
								</span>
							</div>
							<div>
								<strong>
									<%= I18n.t('cv_comentarios') if a.comments? %>
								</strong>
								<span class="editar">
								<%= best_in_place a, :comments, :html_attrs => { :style => 'width:auto; height:auto; border-style:none;' } %>
								</span>
							</div>
							<%= link_to 'Eliminar', delete_education_path(:id => a.id), method: :delete, data: { confirm: 'Are you sure?' },  :class =>"[ btn btn-info ]" %>
							<hr>
						</div>
					<% end -%>
				<h4 class="margen"><%= I18n.t('cv_titulo_experiencia') %>
					<span>
						<%= link_to 'Agregar +', add_experiences_path(), :method => :post,  :class =>"[ btn btn-default btn_publicar ]" %>
					</span>
				</h4>
				<% @experiences.each do |g| %>
					<div class="margen">
						<div>
							<strong>
								<span class="editar"> <%= best_in_place g, :datei, :html_attrs => { :style => 'width:auto; height:auto; border-style:none;' } %></span> -- <span class="editar"><%= best_in_place g, :datef, :html_attrs => { :style => 'width:auto; height:auto; border-style:none;' } %></span>
							</strong>
						</div>
						<div>
							<strong>
								<%= I18n.t('cv_empresa') %>
								<span class="editar">
									<%= best_in_place g, :business, :html_attrs => { :style => 'width:auto; height:auto; border-style:none;' } %>
								</span>
							</strong>
						</div>
						<div>
							<strong>
								Puesto: <span class="editar">
									<%= best_in_place g, :Puesto, :html_attrs => { :style => 'width:auto; height:auto; border-style:none;' } %>
								</span>							</strong>
						</div>
						<div>
							<strong>
								Actividades desempeñadas:
							</strong>
						</div>
						<div class="editar_multilinea">
							<%= best_in_place g, :description,:as => :textarea,:display_with => :simple_format, :html_attrs => { :style => 'width:500px; height:auto; border-style:none;' }  %>
						</div>
					</div>
				<% end -%>
				<h4 class="margen"><%= I18n.t('cv_titulo_cursos') %></h4>
				<% @courses.each do |b| %>
					<div class="margen">
						<div class="curso_name">* <%= b.name %></div>
						<div><strong><%= I18n.t('cv_descripcion_curso') if b.description? %></strong><%= b.description %></div>
					</div>	
				<% end -%>
				<hr>
				<h4 class="margen"><%= I18n.t('cv_titulo_idiomas') %></h4>
				<% @languages.each do |d| %>
					<div class="margen">
						<div><strong><%= I18n.t('cv_nombre_idioma') if d.name? %></strong> <%= d.name %></div>
						<div><strong><%= I18n.t('cv_idioma_lectura') if d.read?  %></strong><%= d.read %></div>
						<div><strong><%= I18n.t('cv_idioma_escritura')if d.write? %></strong><%= d.write %></div>
						<div><strong><%= I18n.t('cv_idioma_hablado') if d.spoken?%></strong><%= d.spoken %></div>
						<span>==============================================</span>
					</div>
				<% end -%>
				<% if @certificates.blank? %>
				<% else %>
					<h4 class="margen"><%= I18n.t('cv_titulo_certificados') %></h4>
					<% @certificates.each do |f| %>
						<div class="margen">
							<div><%= f.name %></div>
						</div>
					<% end -%> 
				<% end %>
				<h3 class="margen"><%= I18n.t('cv_tags') %></h3>
					<%  @list_tags.each do |a| %>
							<div class="tag"><%= a.name if a.name? %></div>		
   					<% end -%>
					<div class="panel-footer">
						<%= link_to I18n.t('cv_boton_descargar') , "/preview.pdf", :class => "[ btn btn-default ]" %>
						<%= link_to 'Publicar', publicar_cv_path(), :method => :post,  :class =>"[ btn btn-default btn_publicar ]" %>
						<%= link_to I18n.t('cv_boton_compartir'), "/preview.pdf", :class => "[ btn btn-default ]" %>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>




