
<%= estilo_cv %>
<%= render 'style_new' %>
<script type="text/javascript">
	 $(document).ready(function() {
  /* Activating Best In Place */
 	 jQuery(".best_in_place").best_in_place();

 	 
	 });

</script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
<script src="https://rawgit.com/arqex/react-json/master/build/Json.js"></script>
<script src="//cdn.jsdelivr.net/refluxjs/0.2.11/reflux.min.js"></script>

<br>
<!-- Ménu izquierdo-->
<div class="by amt">
	<div class="dg">
		<div class="go">
			      <div class="qw rd aog alu">
			        <div class="qx">
			          <h5 class="ald">Opciones <small></small></h5>
			          <ul class="eb tc">
			            <li>
			            	<span class="fa fa-download fa-lg"></span>
			            	<%= link_to I18n.t('cv_boton_descargar') , "/preview.pdf", :class => "[]" %>
			            </li>
			            <li>
			            	<span class="fa fa-globe fa-lg"></span>
			            	<%= link_to 'Publicar', publicar_cv_path(), :method => :post , :class=> "publicar" %>
			            </li>
			            <li>
			            	<span class="fa fa-star fa-lg"></span>
			            	Estatus: <%= @status %>
			            </li>
			            <li>
			            	<span class="fa fa-eye fa-lg"></span>
			            		Número de visitas: <span id="countview"></span> 	
			            </li>
			            <li>
			            	<span class="fa fa-suitcase fa-lg"></span>
			            		<%= link_to 'Portafolio', profile_path() , :class=> "portafolio" %> 	
			            </li>
			          </ul>
			        </div>
			      </div>
		        </div>
<!-- Menu izquierda -->				

    	<div class="ha">
		      <ul class="ca qp anx">
		      <% if @guid_publico.blank? %>
		      	
			        <% else %>
						<% if @guid_publico.guid.blank? %>
	                    <% else %>
				      	<li class="qg b aml collapse" id="collapseExample">
				      	<h5 class="ald">Compartir <a href="<%= @server %>/worbe?guid=<%= @guid_publico.guid %>" class="centrar" id="url"><%= @server %>/worbe?guid=<%= @guid_publico.guid %></a></h5>
				      	<span id="send" >
						</span>     
				        </li>
				      	<% end %>

				        <div id ="mensaje">
				        </div>
			        <% end %>
		      			<li class="qg b aml">
				            <h4>
				            <div id="cv"></div>
				            </h4>

				        <br>
				        <br>
				        <h4 class ="title">
				          <%=  I18n.t('cv_titulo_datos_generales')  %>
				        </h4>
				        <div>
				     	   	<div id="dg"></div>
				    	</div>

				  		<!-- * Sección de educación * -->	
				        <%= educations_margen_botton %>
				      	<!-- Empieza sección experiences -->
				      	<span id="estudios">
						</span>
						 <span id="experiencia">
						</span>
						<!-- Empieza sección coursos-->
				        <span id="cursos">
						</span>
						<!-- Finaliza sección cursos -->
				        <!-- Empieza sección idiomas -->
				        <span id="idiomas">
						</span>
						<!-- Finaliza sección idiomas -->
				         <span id="certificates">
						</span>
						<span id="palabras_claves">
						</span>
		         </li>  
		      </ul>
    	</div>
	</div>
</div>

<script type="text/jsx">
/*
 * Modulo CV
 */
	var PanelCv = React.createClass({
		componentDidMount: function(){
			$.ajax({
		        url: "/get_cv" ,
		        dataType: 'json',
		        success: function(data) {
		        	if (data){
		        		 this.setState({data: data});
		        	}
		        	else
		        	{
		        		setTimeout(function() {
			     		 self.getData();
			   			 }, 3000);
		        	}
		          this.setState({data: data});
		        }.bind(this)
			});
		},
		getData: function() {
		    $.ajax({
		        url: "/get_cv" ,
		        dataType: 'json',
		        success: function(data) {    	
		          this.setState({data: data});
		        }.bind(this)
			});
		},
		getInitialState: function() {
		          return {
		          	data: [],
		          	panel: ""
		            };	       
		        },
		handleClick:function(){
 			React.findDOMNode(this.refs.myTextInput).focus();
		},
		render: function() {   
					var classe = "best_in_place"
					var type= "input"
					var objeto ="cv"
					var atributo = "title"
					var url_bip = "/cvs/";
					var id = "best_in_place_cv_";
					var ida = "_title";
					var items = this.state.data.map(function(object){
						return <div className="centrar centrar1" onClick={this.handleClick}>
								<span key= {object.id} className="best_in_place" data-bip-html-attrs="{&quot;style&quot;:&quot;width:500px; height:auto; border-style:none;&quot;}" data-bip-attribute={atributo} data-bip-object={objeto} data-bip-original-content={object.title} data-bip-type={type} data-bip-url={url_bip + object.id } data-bip-value={object.title} id={id + object.id + ida} ref="myTextInput">{object.title}
								</span>
								</div>

						});
			 			return <span>{items}</span>			
			 		}
		});
		React.render(
		     	<PanelCv />,
		 document.getElementById('cv')
		 );
/*
 * Modulo Datos Generales
 */
	var PanelDg = React.createClass({
		componentDidMount: function(){
			$.ajax({
		        url: "/get_dg" ,
		        dataType: 'json',
		        success: function(data) {
		        	if (data){
		        		 this.setState({data: data});
		        		 if (data[0].photo.url == null) 
		        		 {
		        		 	this.setState({url: "http://res.cloudinary.com/vianse/image/upload/v1442030039/default_whsjfu.png"});
		        		 }
		        		 else
		        		 {
		        		 	this.setState({url: data[0].photo.url});
		        		 }
		        	}
		        	else
		        	{
		        		setTimeout(function() {
			     		 self.getData();
			   			 }, 3000);
		        	}

		          this.setState({data: data});
		        }.bind(this)
			});
		},

		getData: function() {
		    $.ajax({
		        url: "/get_dg" ,
		        dataType: 'json',
		        success: function(data) {    	
		          this.setState({data: data});
		        }.bind(this)
			});
		},
		upload: function(e){
			var a = "/upload/" +  <%= @dgs[0].id   %>
			var iden = "upload_image_" + <%= @dgs[0].id   %>
		
			this.setState({file:<div> 
								
     							<form acceptCharset="UTF-8" action={a} className="edit_dg" encType="multipart/form-data" id={iden} method="post"><div style={{display:"none"}}>
     								<input name="utf8" type="hidden" value="✓"/><input name="_method" type="hidden" value="patch"/>
     								<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
     								

     								</div>

				                    <div className="btn btn-primary btn-file"> Cambiar Imagen
				                      <input className="form-control " id="dg_photo" name="dg_photo" type="file"/>
				                      <input id="dg_remote_photo_url" name="dg[remote_photo_url]" type="hidden"/>         
				                    </div>
				                    <div className="actions">
				                      <input className="btn btn-danger btn-send" name="commit" type="submit" value="Guardar"/>
				                    </div>
								</form>

                    			
                    			</div>});


		},
		close: function(e){
			this.setState({file: ""});
			this.setState({enviar: ""});


		},
				// prevent form from submitting; we are going to capture the file contents
		  handleSubmit: function(e) {
		    e.preventDefault();
		  },

		  // when a file is passed to the input field, retrieve the contents as a
		  // base64-encoded data URI and save it to the component's state
		  handleFile: function(e) {
		    var self = this;
		    var reader = new FileReader();
		    var file = e.target.files[0];

		    reader.onload = function(upload) {
		      self.setState({
		        url: upload.target.result

		      });

		      $.get("/upload_image?photo=" + self.state.url,
		        {
		        },
		        function(data,status){
		        });

		    }

			reader.readAsDataURL(file);


		  },

		getInitialState: function() {
		          return {
		          	data: [],
		          	panel: "",
		          	url: ""
		            };	       
		        },
		render: function() {   
					var classe = "best_in_place"
					var type= "input"
					var objeto ="dg"
					var atributo = "title"
					var url_bip = "/dgs/";
					var id = "best_in_place_dg_";
					var ida = "_name";
					var ida1 = "_datebirthday";
					var ida2 = "_age";
					var ida3 = "_address";
					var ida4 = "_phone1";
					var ida5 = "_phone2";
					var ida6 = "_email";
					var ida7 = "_photo";
					var url  = this.state.url
					var file = this.state.file
					var boton = this.state.enviar
					var upload = this.upload

					var items = this.state.data.map(function(object){
						return <div id="contenedor">
							<div className="margendgs">
								<div className="nombre editar">
									<strong>
									<span key= {object.id} className="best_in_place"  data-bip-attribute="name" data-bip-html-attrs="{&quot;style&quot;:&quot;width:500px; height:auto; border-style:none;&quot;}" data-bip-object={objeto} data-bip-original-content={object.name} data-bip-type={type} data-bip-url={url_bip + object.id } data-bip-value={object.name} id={id + object.id + ida}>{object.name}
									</span>
									</strong>
								 </div>
								 <div>
					              <%= I18n.t('cv_fecha_nacimiento')%>
									<span key= {object.id} className="best_in_place editar" data-bip-attribute="datebirthday" data-bip-html-attrs="{&quot;style&quot;:&quot;width:500px; height:auto; border-style:none;&quot;}" data-bip-object={objeto} data-bip-original-content={object.datebirthday} data-bip-type={type} data-bip-url={url_bip + object.id } data-bip-value={object.datebirthday} id={id + object.id + ida}>{object.datebirthday}
									</span>
								 </div>
								<div>
								<%= I18n.t('cv_edad')     %>
								<span key= {object.id} className="best_in_place editar" data-bip-attribute="age" data-bip-html-attrs="{&quot;style&quot;:&quot;width:500px; height:auto; border-style:none;&quot;}" data-bip-object={objeto} data-bip-original-content={object.age} data-bip-type={type} data-bip-url={url_bip + object.id } data-bip-value={object.age} id={id + object.id + ida}>{object.age}
								</span>
								</div>
								<div>
								<%= I18n.t('cv_direccion')%> 
								<span key= {object.id} className="best_in_place editar" data-bip-attribute="address" data-bip-html-attrs="{&quot;style&quot;:&quot;width:500px; height:auto; border-style:none;&quot;}" data-bip-object={objeto} data-bip-original-content={object.address} data-bip-type={type} data-bip-url={url_bip + object.id } data-bip-value={object.address} id={id + object.id + ida}>{object.address}
								</span>
								</div>
								<div>
								<%= I18n.t('cv_telefono1')%> 
									<span key= {object.id} className="best_in_place editar" data-bip-attribute="phone1" data-bip-html-attrs="{&quot;style&quot;:&quot;width:500px; height:auto; border-style:none;&quot;}" data-bip-object={objeto} data-bip-original-content={object.phone1} data-bip-type={type} data-bip-url={url_bip + object.id } data-bip-value={object.phone1} id={id + object.id + ida}>{object.phone1}
									</span>
								</div>
								<div>
								<%= I18n.t('cv_telefono2')%> 
									<span key= {object.id} className="best_in_place editar" data-bip-attribute="phone2" data-bip-html-attrs="{&quot;style&quot;:&quot;width:500px; height:auto; border-style:none;&quot;}" data-bip-object={objeto} data-bip-original-content={object.phone2} data-bip-type={type} data-bip-url={url_bip + object.id } data-bip-value={object.phone2} id={id + object.id + ida}>{object.phone2}
									</span>
								</div>
								<div>
									<%= I18n.t('cv_email')%> 
									<span key= {object.id} className="best_in_place editar" data-bip-attribute="email" data-bip-html-attrs="{&quot;style&quot;:&quot;width:500px; height:auto; border-style:none;&quot;}" data-bip-object={objeto} data-bip-original-content={object.email} data-bip-type={type} data-bip-url={url_bip + object.id } data-bip-value={object.email} id={id + object.id + ida}>{object.email}
									</span>
									
								</div>
							</div>
							 	<div className="imagen" onClick={upload}>
										<img className="img" alt="C0mg1c3bkwrzstf74xkr" src={url} />
								 </div>
								 <div>
								 	{file}
								 </div>

						</div>

						});
			 			return <span>{items}</span>			
			 		}
		});
		
		React.render(
		     	<PanelDg />,
		 document.getElementById('dg')
		 );
/*
 *  Contador de visitas
 */
	var CountView = React.createClass({
	       getInitialState: function() {
	          return {
	            counter: ""
	          };
	        },
	      
	        componentDidMount: function() {
	          var self = this;
	          $.get(this.props.source, function(result) {
	            var collection = result;
	            if (this.isMounted()) {
	              this.setState({
	                counter: collection
	              });
	            }
	          }.bind(this));
	        },
	        
	        render: function() {   
	          return (
	            <span>
	             {this.state.counter}     
	            </span>
	          );
	        }
	      });

	     React.render(
	    <CountView source="/visitas.json" />,
	      document.getElementById('countview')
	 );
/*
 *  Moduler Tags
 */
    
	var PanelTags = React.createClass({
	datosgenerales: function() {
	    $.ajax({
	        url: "/get_tags" ,
	        dataType: 'json',
	        success: function(data) {
	          this.setState({data: data});
	        }.bind(this)
	    }); 
	},
	chanstate: function(event){
		this.setState({id: event.target.value});
		$.ajax({
    		url: "/delete_tags/" + event.target.value,
    		type: 'DELETE',
    		success: function(result) {
            this.setState({data: []});
    	}.bind(this)
	 });
	 this.datosgenerales();	
	},
	addClick: function(event) {
		  $.post("/add_tags",
		        {
		        },
		        function(data,status){
		        });
		  this.datosgenerales();
	},
	componentDidMount: function() {
	    $.ajax({
	        url: "/get_tags" ,
	        dataType: 'json',
	        success: function(data) {
	          this.setState({data: data});
	        }.bind(this)
		});
	},
	alert: function(event) {
		this.setState({etiqueta: "hola"});
		$( ".best_in_place" ).attr({
  			className: "best_in_place"
		});
	},
	getInitialState: function() {
	          return {
	          	etiqueta: "prueba",
	          	btn:<div>
	          		<h4 className="margen"><%= I18n.t('cv_tags') %></h4>
	          		<span className="tamaño"> 
	          		<button className="btn btn-default" onClick={this.addClick}>Agregar +</button>
	          		</span>	
	          		</div>,
	          	data: [],
	          	panel: ""
	            };	       
	        },
	render: function() {   
				var classe = "best_in_place"
				var type= "input"
				var objeto ="my_tag"
				var atributo = "name"
				var url= "/delete_tags/"; 
				var url_bip = "/my_tags/";
				var id = "best_in_place_my_tag_";
				var ida = "_name";
				var eliminar = this.chanstate;
				var etiqueta = this.state.etiqueta
				var boton_agregar = this.state.btn

				var items = this.state.data.map(function(object){

					return <div className="margen">
					<span key= {object.id} className="best_in_place editar" data-bip-attribute={atributo} data-bip-object={objeto} data-bip-original-content={object.name} data-bip-type={type} data-bip-url={url_bip + object.id } data-bip-value={object.name} id={id + object.id + ida}>{object.name}
							</span>
							<button onClick={eliminar} value={object.id} className="btn btn-default boton_eliminar">		Eliminar
							</button>
							</div>

					});

		 			return <span>{boton_agregar}{items}</span>
		 			
		 					
		 		}
		 		
		
	});
	
	React.render(
	     	<PanelTags deletetag="/delete_tags/" />,
	 document.getElementById('palabras_claves')
	 );
/*
 *   Modulo de Certificaciones
 */

  var PanelCertificaciones = React.createClass({
	datos: function() {
	    $.ajax({
	        url: "/get_certificates" ,
	        dataType: 'json',
	        success: function(data) {
	          this.setState({data: data});
	        }.bind(this)
	    }); 
	},
	chanstate: function(event){
		this.setState({id: event.target.value});
		$.ajax({
    		url: "/delete_certificates/" + event.target.value,
    		type: 'DELETE',
    		success: function(result) {
            this.setState({data: []});
    	}.bind(this)
	 });
	 this.datos();	
	},
	addClick: function(event) {
		  $.post("/add_certificates",
		        {
		        },
		        function(data,status){
		        });
		  this.datos();
	},
	componentDidMount: function() {
	    $.ajax({
	        url: "/get_certificates" ,
	        dataType: 'json',
	        success: function(data) {
	          this.setState({data: data});
	        }.bind(this)
		});
	},
	getInitialState: function() {
	          return {
	          	btn:<div>
	          		<h4 className="margen"><%= I18n.t('cv_titulo_certificados') %></h4>
	          		<span className="tamaño"> 
	          		<button className="btn btn-default" onClick={this.addClick}>Agregar +</button>
	          		</span>	
	          		</div>,
	          	data: [],
	          	panel: ""
	            };	       
	        },
	render: function() {   
				var classe = "best_in_place"
				var type= "input"
				var objeto ="certificate"
				var atributo = "name"
				var url= "/delete_tags/"; 
				var url_bip = "/certificates/";
				var id = "best_in_place_certificate_";
				var ida = "_name"; 
				var eliminar = this.chanstate;
				var etiqueta = this.state.etiqueta
				var boton_agregar = this.state.btn

				var items = this.state.data.map(function(object){

					return <div className="margen">
								<span className="editar">
					                <span className="best_in_place" data-bip-attribute="name" data-bip-html-attrs="{&quot;style&quot;:&quot;width:500px; height:auto; border-style:none;&quot;}" data-bip-object={objeto} data-bip-original-content={object.name} data-bip-type={type} data-bip-url={url_bip + object.id} data-bip-value={object.name} id={id + object.id + ida}>{object.name}</span>
					              </span>
					              <button onClick={eliminar} value={object.id} className="btn btn-default boton_eliminar">		Eliminar
								 </button>
							</div>

					});

		 			return <span>{boton_agregar}{items}</span>
		 					
		 		}
		 		
		
	});
	
	React.render(
	     	<PanelCertificaciones />,
	document.getElementById('certificates')
	 );
/*
 *   Modulo de Idiomas
 */

  var PanelIdiomas = React.createClass({
	datos: function() {
	    $.ajax({
	        url: "/get_idiomas" ,
	        dataType: 'json',
	        success: function(data) {
	          this.setState({data: data});
	        }.bind(this)
	    }); 
	},
	chanstate: function(event){
		this.setState({id: event.target.value});
		$.ajax({
    		url: "/delete_idiomas/" + event.target.value,
    		type: 'DELETE',
    		success: function(result) {
            this.setState({data: []});
    	}.bind(this)
	 });
	 this.datos();	
	},
	addClick: function(event) {
		  $.post("/add_idiomas",
		        {
		        },
		        function(data,status){
		        });
		  this.datos();
	},
	componentDidMount: function() {
	    $.ajax({
	        url: "/get_idiomas" ,
	        dataType: 'json',
	        success: function(data) {
	          this.setState({data: data});
	        }.bind(this)
		});
	},
	getInitialState: function() {
	          return {
	          	btn:<div>
	          		<h4 className="margen"><%= I18n.t('cv_titulo_idiomas') %></h4>
	          		<span className="tamaño"> 
	          		<button className="btn btn-default" onClick={this.addClick}>Agregar +</button>
	          		</span>	
	          		</div>,
	          	data: [],
	          	panel: ""
	            };	       
	        },
	render: function() {   
				var classe = "best_in_place"
				var type= "input"
				var objeto ="language"
				var atributo = "name"
				var url= "/delete_idiomas/"; 
				var url_bip = "/languages/";
				var id = "best_in_place_language_";
				var ida = "_name"; 
				var eliminar = this.chanstate;
				var etiqueta = this.state.etiqueta
				var boton_agregar = this.state.btn

				var items = this.state.data.map(function(object){

					return <div className="margen">
								<div>
									<strong>
							            <%= I18n.t('cv_nombre_idioma') %>
							        </strong>
									<span className="editar">
						                <span className="best_in_place" data-bip-attribute="name" data-bip-html-attrs="{&quot;style&quot;:&quot;width:500px; height:auto; border-style:none;&quot;}" data-bip-object={objeto} data-bip-original-content={object.name} data-bip-type={type} data-bip-url={url_bip + object.id} data-bip-value={object.name} id={id + object.id + ida}>{object.name}</span>
						            </span>
						             <button onClick={eliminar} value={object.id} className="btn btn-default boton_eliminar">		Eliminar
								 	</button>
					             </div>
					             <div>
					              <strong>
						            <%= I18n.t('cv_idioma_lectura') %>
						          </strong>
					              <span className="editar">
					                <span className="best_in_place" data-bip-attribute="read" data-bip-html-attrs="{&quot;style&quot;:&quot;width:500px; height:auto; border-style:none;&quot;}" data-bip-object={objeto} data-bip-original-content={object.read} data-bip-type={type} data-bip-url={url_bip + object.id} data-bip-value={object.read} id={id + object.id + ida}>{object.read}</span>
					              </span>
					              </div>
					              <div>
						             <strong>
							            <%= I18n.t('cv_idioma_escritura') %>
							         </strong>
						              <span className="editar">
						                <span className="best_in_place" data-bip-attribute="write" data-bip-html-attrs="{&quot;style&quot;:&quot;width:500px; height:auto; border-style:none;&quot;}" data-bip-object={objeto} data-bip-original-content={object.write} data-bip-type={type} data-bip-url={url_bip + object.id} data-bip-value={object.write} id={id + object.id + ida}>{object.write}</span>
						              </span>
						            </div>
						           <div>
						              <strong>
							            <%= I18n.t('cv_idioma_hablado') %>
							          </strong>
						              <span className="editar">
						                <span className="best_in_place" data-bip-attribute="spoken" data-bip-html-attrs="{&quot;style&quot;:&quot;width:500px; height:auto; border-style:none;&quot;}" data-bip-object={objeto} data-bip-original-content={object.spoken} data-bip-type={type} data-bip-url={url_bip + object.id} data-bip-value={object.spoken} id={id + object.id + ida}>{object.spoken}</span>
						              </span>
					              	</div>
					             
							</div>

					});

		 			return <span>{boton_agregar}{items}</span>
		 					
		 		}
		 		
		
	});
	
	React.render(
	     	<PanelIdiomas />,
	document.getElementById('idiomas')
	 );
/*
 *   Modulo de Cursos
 */

  var PanelCursos = React.createClass({
	datos: function() {
	    $.ajax({
	        url: "/get_cursos" ,
	        dataType: 'json',
	        success: function(data) {
	          this.setState({data: data});
	        }.bind(this)
	    }); 
	},
	chanstate: function(event){
		this.setState({id: event.target.value});
		$.ajax({
    		url: "/delete_courses/" + event.target.value,
    		type: 'DELETE',
    		success: function(result) {
            this.setState({data: []});
    	}.bind(this)
	 });
	 this.datos();	
	},
	addClick: function(event) {
		  $.post("/add_courses",
		        {
		        },
		        function(data,status){
		        });
		  this.datos();
	},
	componentDidMount: function() {
	    $.ajax({
	        url: "/get_cursos" ,
	        dataType: 'json',
	        success: function(data) {
	          this.setState({data: data});
	        }.bind(this)
		});
	},
	getInitialState: function() {
	          return {
	          	btn:<div>
	          		<h4 className="margen"><%= I18n.t('cv_titulo_cursos') %></h4>
	          		<span className="tamaño"> 
	          		<button className="btn btn-default" onClick={this.addClick}>Agregar +</button>
	          		</span>	
	          		</div>,
	          	data: [],
	          	panel: ""
	            };	       
	        },
	render: function() {   
				var classe = "best_in_place"
				var type= "input"
				var objeto ="course"
				var atributo = "name"
				var url= "/delete_courses/"; 
				var url_bip = "/courses/";
				var id = "best_in_place_course_";
				var ida = "_name"; 
				var eliminar = this.chanstate;
				var etiqueta = this.state.etiqueta
				var boton_agregar = this.state.btn

				var items = this.state.data.map(function(object){

					return <div className="margen">
								<div>
								 <strong>
						           Nombre del Curso: 
						          </strong>
									<span className="editar">
						                <span className="best_in_place" data-bip-attribute="name" data-bip-html-attrs="{&quot;style&quot;:&quot;width:500px; height:auto; border-style:none;&quot;}" data-bip-object={objeto} data-bip-original-content={object.name} data-bip-type={type} data-bip-url={url_bip + object.id} data-bip-value={object.name} id={id + object.id + ida}>{object.name}</span>
						            </span>
						             <button onClick={eliminar} value={object.id} className="btn btn-default boton_eliminar">		Eliminar
								 	</button>
					             </div>
					             <div>
					              <strong>
						           <%= I18n.t('cv_descripcion_curso')  %>
						          </strong>
					              <span className="editar">
					                <span className="best_in_place" data-bip-attribute="description" data-bip-html-attrs="{&quot;style&quot;:&quot;width:500px; height:auto; border-style:none;&quot;}" data-bip-object={objeto} data-bip-original-content={object.description} data-bip-type={type} data-bip-url={url_bip + object.id} data-bip-value={object.description} id={id + object.id + ida}>{object.description}</span>
					              </span>
					              </div>
							</div>

					});

		 			return <span>{boton_agregar}{items}</span>
		 					
		 		}
		 		
		
	});
	
	React.render(
	     	<PanelCursos />,
	document.getElementById('cursos')
	 );
/*
 *   Modulo de Experiencias
 */

  var PanelExperiencia = React.createClass({
	datos: function() {
	    $.ajax({
	        url: "/get_experiencias" ,
	        dataType: 'json',
	        success: function(data) {
	          this.setState({data: data});
	        }.bind(this)
	    }); 
	},
	chanstate: function(event){
		this.setState({id: event.target.value});
		$.ajax({
    		url: "/delete_experience/" + event.target.value,
    		type: 'DELETE',
    		success: function(result) {
            this.setState({data: []});
    	}.bind(this)
	 });
	 this.datos();	
	},
	addClick: function(event) {
		  $.post("/add_experiences",
		        {
		        },
		        function(data,status){
		        });
		  this.datos();
	},
	componentDidMount: function() {
	    $.ajax({
	        url: "/get_experiencias" ,
	        dataType: 'json',
	        success: function(data) {
	          this.setState({data: data});
	        }.bind(this)
		});
	},
	getInitialState: function() {
	          return {
	          	btn:<div>
	          		<h4 className="margen"><%= I18n.t('cv_titulo_experiencia') %></h4>
	          		<span className="tamaño"> 
	          		<button className="btn btn-default" onClick={this.addClick}>Agregar +</button>
	          		</span>	
	          		</div>,
	          	data: [],
	          	panel: ""
	            };	       
	        },
	render: function() {   
				var classe = "best_in_place"
				var type= "input"
				var objeto ="experience"
				var atributo = "name"
				var url= "/delete_experience/"; 
				var url_bip = "/experiences/";
				var id = "best_in_place_experience_";
				var ida1 = "_datei"; 
				var ida2 = "_datef";
				var ida3 = "_business";
				var ida4 = "_description";
				var ida5 = "_Puesto";
				var ida6 = "_logros";
				var eliminar = this.chanstate;
				var etiqueta = this.state.etiqueta
				var boton_agregar = this.state.btn

				var items = this.state.data.map(function(object){

					return <div className="margen">
								<div>
						
									<span className="editar">
						                <span className="best_in_place" data-bip-attribute="datei" data-bip-html-attrs="{&quot;style&quot;:&quot;width:500px; height:auto; border-style:none;&quot;}" data-bip-object={objeto} data-bip-original-content={object.datei} data-bip-type={type} data-bip-url={url_bip + object.id} data-bip-value={object.datei} id={id + object.id + ida1}>{object.datei}</span>
						            </span><span> -- </span> 
						            <span className="editar">
						                <span className="best_in_place" data-bip-attribute="datef" data-bip-html-attrs="{&quot;style&quot;:&quot;width:500px; height:auto; border-style:none;&quot;}" data-bip-object={objeto} data-bip-original-content={object.datef} data-bip-type={type} data-bip-url={url_bip + object.id} data-bip-value={object.datef} id={id + object.id + ida2}>{object.datef}</span>
						            </span>
						             <button onClick={eliminar} value={object.id} className="btn btn-default boton_eliminar">		Eliminar
								 	</button>
					             </div>
					             <div>
					              <strong>
						            <%= I18n.t('cv_empresa') %>
						          
					              <span className="editar">
					                <span className="best_in_place" data-bip-attribute="business" data-bip-html-attrs="{&quot;style&quot;:&quot;width:500px; height:auto; border-style:none;&quot;}" data-bip-object={objeto} data-bip-original-content={object.business} data-bip-type={type} data-bip-url={url_bip + object.id} data-bip-value={object.business} id={id + object.id + ida3}>{object.business}</span>
					              </span>
					              </strong>
					              </div>
					              <div>
						             <strong>
							            Puesto: 
						              <span className="editar">
						                <span className="best_in_place" data-bip-attribute="Puesto" data-bip-html-attrs="{&quot;style&quot;:&quot;width:500px; height:auto; border-style:none;&quot;}" data-bip-object={objeto} data-bip-original-content={object.Puesto} data-bip-type={type} data-bip-url={url_bip + object.id} data-bip-value={object.Puesto} id={id + object.id + ida5}>{object.Puesto}</span>
						              </span>
						              </strong>
						            </div>
						           <div>
						              <strong>
							            Actividades desempeñadas: <br />
							          </strong>
						              <span className="editar_multilinea">
						                <span className="best_in_place" data-bip-attribute="description" data-bip-html-attrs="{&quot;style&quot;:&quot;width:500px; height:auto; border-style:none;&quot;}" data-bip-object={objeto} data-bip-original-content={object.description} data-bip-type="textarea" data-bip-url={url_bip + object.id} data-bip-value={object.description} id={id + object.id + ida4} display_with= "simple_format">{object.description}</span>
						              </span>
					              	</div>
					              	 <div>
						              <strong>
							            Principales Logros: <br />
							          </strong>
						              <span className="editar_multilinea">
						                <span className="best_in_place" data-bip-attribute="logros" data-bip-html-attrs="{&quot;style&quot;:&quot;width:500px; height:auto; border-style:none;&quot;}" data-bip-object={objeto} data-bip-original-content={object.logros} data-bip-type="textarea" data-bip-url={url_bip + object.id} data-bip-value={object.logros} id={id + object.id + ida6} display_with= "simple_format">{object.logros}</span>
						              </span>
					              	</div>
					             	<hr />
							</div>

					});

		 			return <span>{boton_agregar}{items}</span>
		 					
		 		}
		 		
		
	});
	
	React.render(
	     	<PanelExperiencia />,
	document.getElementById('experiencia')
	 );
/*
 *   Modulo de Estudios
 */

  var PanelEstudios = React.createClass({
	datos: function() {
	    $.ajax({
	        url: "/get_educations" ,
	        dataType: 'json',
	        success: function(data) {
	          this.setState({data: data});
	        }.bind(this)
	    }); 
	},
	chanstate: function(event){
		this.setState({id: event.target.value});
		$.ajax({
    		url: "/delete_education/" + event.target.value,
    		type: 'DELETE',
    		success: function(result) {
            this.setState({data: []});
    	}.bind(this)
	 });
	 this.datos();	
	},
	addClick: function(event) {
		  $.post("/add_educations",
		        {
		        },
		        function(data,status){
		        });
		  this.datos();
	},
	componentDidMount: function() {
	    $.ajax({
	        url: "/get_educations" ,
	        dataType: 'json',
	        success: function(data) {
	          this.setState({data: data});
	        }.bind(this)
		});
	},
	getInitialState: function() {
	          return {
	          	btn:<div>
	          		<h4 className="margen"><%= I18n.t('cv_titulo_educacion') %></h4>
	          		<span className="tamaño"> 
	          		<button className="btn btn-default" onClick={this.addClick}>Agregar +</button>
	          		</span>	
	          		</div>,
	          	data: [],
	          	panel: ""
	            };	       
	        },
	render: function() {   
				var classe = "best_in_place"
				var type= "input"
				var objeto ="education"
				var atributo = "name"
				var url= "/delete_education/"; 
				var url_bip = "/educations/";
				var id = "best_in_place_education_";
				var ida = "_level"; 
				var ida1 = "_title"; 
				var ida2 = "_school"; 
				var ida3 = "_yearInitial"; 
				var ida4 = "_yearFinal"; 
				var ida5 = "_DocumentReceived";
				var eliminar = this.chanstate;
				var etiqueta = this.state.etiqueta
				var boton_agregar = this.state.btn

				var items = this.state.data.map(function(object){

					return <div className="margen">

								<div>
									
									<strong>
							            <%= I18n.t('cv_nivel') %>
							        </strong>
									<span className="editar">
						                <span className="best_in_place" data-bip-attribute="level"  data-bip-collection="[[&quot;Carreta técnica&quot;,&quot;Carreta técnica&quot;],[&quot;Nivel Superior&quot;,&quot;Nivel Superior&quot;],[&quot;Especialidad&quot;,&quot;Especialidad&quot;],[&quot;Maestria&quot;,&quot;Maestria&quot;],[&quot;Doctorado&quot;,&quot;Doctorado&quot;]]" data-bip-html-attrs="{&quot;style&quot;:&quot;width:500px; height:auto; border-style:none;&quot;}" data-bip-object={objeto} data-bip-original-content={object.level} data-bip-type="select" data-bip-url={url_bip + object.id} data-bip-value={object.level} id={id + object.id + ida} prompt="true">{object.level}</span>
						            </span>
						             <button onClick={eliminar} value={object.id} className="btn btn-default boton_eliminar">		Eliminar
								 	</button>
					             </div>
					             <div>
					              <strong>
						            <%= I18n.t('form_titulo_ed') %>
						          </strong>
					              <span className="editar">
					                <span className="best_in_place" data-bip-attribute="title" data-bip-html-attrs="{&quot;style&quot;:&quot;width:500px; height:auto; border-style:none;&quot;}" data-bip-object={objeto} data-bip-original-content={object.title} data-bip-type={type} data-bip-url={url_bip + object.id} data-bip-value={object.title} id={id + object.id + ida1}>{object.title}</span>
					              </span>
					              </div>
					              <div>
						             <strong>
							            <%= I18n.t('cv_escuela')%>
							         </strong>
						              <span className="editar">
						                <span className="best_in_place" data-bip-attribute="school" data-bip-html-attrs="{&quot;style&quot;:&quot;width:500px; height:auto; border-style:none;&quot;}" data-bip-object={objeto} data-bip-original-content={object.school} data-bip-type={type} data-bip-url={url_bip + object.id} data-bip-value={object.school} id={id + object.id + ida2}>{object.school}</span>
						              </span>
						            </div>
						           <div>
						              <strong>
							            <%= I18n.t('cv_año_inicial')%>
							          </strong>
						              <span className="editar">
						                <span className="best_in_place" data-bip-attribute="yearInitial" data-bip-html-attrs="{&quot;style&quot;:&quot;width:500px; height:auto; border-style:none;&quot;}" data-bip-object={objeto} data-bip-original-content={object.yearInitial} data-bip-type={type} data-bip-url={url_bip + object.id} data-bip-value={object.yearInitial} id={id + object.id + ida3}>{object.yearInitial}</span>
						              </span><span> -- </span>

						              <strong>
							            <%= I18n.t('cv_año_final')%>
							          </strong>
						              <span className="editar">
						                <span className="best_in_place" data-bip-attribute="yearFinal" data-bip-html-attrs="{&quot;style&quot;:&quot;width:500px; height:auto; border-style:none;&quot;}" data-bip-object={objeto} data-bip-original-content={object.yearFinal} data-bip-type={type} data-bip-url={url_bip + object.id} data-bip-value={object.yearFinal} id={id + object.id + ida4}>{object.yearFinal}</span>
						              </span>
					              	</div>
					              	<div>
						              <strong>
							            <%= I18n.t('cv_documento_recibido')%>
							          </strong>
						              <span className="editar">
						                <span className="best_in_place" data-bip-attribute="DocumentReceived" data-bip-html-attrs="{&quot;style&quot;:&quot;width:500px; height:auto; border-style:none;&quot;}" data-bip-object={objeto} data-bip-original-content={object.DocumentReceived} data-bip-type={type} data-bip-url={url_bip + object.id} data-bip-value={object.DocumentReceived} id={id + object.id + ida5}>{object.DocumentReceived}</span>
						              </span>
					              	</div>
					              	<hr/>
							</div>

					});

		 			return <span>{boton_agregar}{items}</span>
		 					
		 		}
		 		
		
	});
	
	React.render(
	     	<PanelEstudios />,
	document.getElementById('estudios')
	 );
/*
 * Compartir
 */
 	var EnviarEmail = React.createClass({
 	getInitialState: function() {
    return {
    		text: "",
    		mensaje: ""
    		};
  	},
	enviar: function(e) {
		if (e.target.value){
	    $.ajax({
	        url: "/share?email=" + e.target.value,
	        dataType: 'json',
	        success: function(data) {
	          this.setState({data: data});
	        }.bind(this)
	    }); 
	    
	    this.limpia();}
		else
		{
			
			this.setState({mensaje: "Ingresa un correo valido"});
			this.setState({clase: "mensaje_novalido"});
			this.borrar();
		}
	},

	onChange: function(e) {
    	this.setState({text: e.target.value});
  	},
  	borrar: function(){
  	var self = this;
  	setTimeout(function() {
      self.setState({mensaje: ""})
      self.setState({clase: ""})
    }, 3000);
  	},
  	limpia: function(){
		this.setState({text: ""});
		this.setState({mensaje: "Correo enviado satisfactoriamente!!"});
		this.setState({clase: "mensaje_valido"});
		this.borrar();
  	},

	        
	render: function() {   

	     return ( <div>
	     		<p className={this.state.clase}>{this.state.mensaje}</p>
	     		<div className="input-group">
	           		<input className="form-control" id="email" name="email" placeholder="Ingresa el email al que le quieres compartir tu CV" type="email" onChange={this.onChange} value={this.state.text} />
	           			<div className ="fj">
	          		 <button className="cg fm" onClick={this.enviar} value={this.state.text} > Compartir </button>
	          		 
	          		 </div>
	           </div>
	           </div>
	          );

	        }
	      });

	     React.render(
	    <EnviarEmail />,
	      document.getElementById('send')
	 );
</script>



