<%= estilo_form %>
<%= estilo_cv %>
</style>
<%= form_tag buscar_path, :method => 'get' do %>
  <p>
     Buscar por cv por palabra clave <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Buscar cv", :name => nil, :class=> "btn btn-success" %>
  </p>
<% end %>
 