<style type="text/css">
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

body {
    background-color: white;
    padding-top: 0px;
    padding-bottom: 30px;
}

.panel-google-plus {
    position: relative;
    border-radius: 5px;
    width: 900px;
    border: 1px solid hsl(198, 29%, 93%);
    font-family: 'Roboto', sans-serif;
}

.panel-google-plus > .panel-google-plus-tags {
    position: absolute;
    top: 35px;
    right: -3px;
}
.panel-google-plus > .panel-google-plus-tags > ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.panel-google-plus > .panel-google-plus-tags > ul:hover {

}
.panel-google-plus > .panel-google-plus-tags > ul > li {
    display: block;
    right: 0px;
    width: 0px;
    padding: 5px 0px 5px 0px;
    background-color: hsl(194, 64%, 55%);
    color: white;
    font-size: 12px;
    overflow: hidden;
}
.panel-google-plus > .panel-google-plus-tags > ul > li::after {
    content:"";
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
  border-right: 0px solid rgb(66, 127, 237);
}
.panel-google-plus > .panel-google-plus-tags > ul:hover > li,
.panel-google-plus > .panel-google-plus-tags > ul > li:first-child {
    padding: 5px 15px 5px 10px;
    width: auto;
    cursor: pointer;
    margin-left: auto;
}
.panel-google-plus > .panel-google-plus-tags > ul:hover > li {
    
}
.panel-google-plus > .panel-google-plus-tags > ul > li:hover {
    opacity: .95;
    /*background-color: hsl(194, 64%, 55%);*/
    color: rgb(255, 255, 255);
}
.panel-google-plus > .panel-heading,
.panel-google-plus > .panel-footer {
    background-color: rgb(255, 255, 255);
    border-width: 0px; 
}
.panel-google-plus > .panel-heading {
    margin-top: 20px;    
    padding-bottom: 5px; 
}
.panel-google-plus > .panel-heading > img { 
    margin-right: 15px;
}
.panel-google-plus > .panel-heading > h3 {
    margin: 0px;
    font-size: 14px;
    font-weight: 700;
}
.panel-google-plus > .panel-heading > h5 {
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
}
.panel-google-plus > .panel-body {
    padding-top: 5px;
    font-size: 13px;
}
.panel-google-plus > .panel-body > .panel-google-plus-image {
    display: block;
    text-align: center;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(217, 217, 217);
}
.panel-google-plus > .panel-body > .panel-google-plus-image > img {
    max-width: 100%;
}

.panel-google-plus > .panel-footer {
    font-size: 14px;
    font-weight: 700;
    min-height: 54px;
}
.panel-google-plus > .panel-footer > .btn {
    float: left;
    margin-right: 8px;
}
.panel-google-plus > .panel-footer > .input-placeholder {
    display: block;
    margin-left: 98px;
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
    padding: 8px 6px 7px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}
.panel-google-plus.panel-google-plus-show-comment > .panel-footer > .input-placeholder {
    display: none;   
}
.panel-google-plus > .panel-google-plus-comment {
    display: none;
    padding: 10px 20px 15px;
    border-top: 1px solid rgb(229, 229, 229);
    background-color: rgb(245, 245, 245);
}
.panel-google-plus.panel-google-plus-show-comment > .panel-google-plus-comment {
    display: block;
}
/*.panel-google-plus > .panel-google-plus-comment > img {
    float: left;   
}*/
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea {
    float: right;
    width: calc(100% - 56px);
}
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > textarea {
    display: block;
    /*margin-left: 60px;
    width: calc(100% - 56px);*/
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
    resize: vertical;
}
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > .btn {
    margin-top: 10px;
    margin-right: 8px;
    width: 100%;
}
@media (min-width: 992px) {
    .panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > .btn {
        width: auto;
    }    
}

.panel-google-plus .btn {
    border-radius: 3px;   
}
.panel-google-plus .btn-default {
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}
.panel-google-plus .btn-default:hover, 
.panel-google-plus .btn-default:focus, 
.panel-google-plus .btn-default:active {
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);    
}

.primary{
  position: fixed!important;
  z-index: 1000;
  height: 50px!important;
  background-color:hsl(200, 3%, 35%);
}

.panel-google-plus{
  top:60px;
}
.subnav ul {
  position: fixed!important;
  width: 100%;
  z-index: 1000;
  list-style: none;
  background-color: hsl(195, 29%, 97%);
  text-align: left;
  padding: 0;
  margin: 0;

}
.subnav li {
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-size:1.15em;
  line-height: 1.5;
  cursor: default;
  height: 40px;
  white-space: nowrap;
 
}
 
.subnav a {
  text-decoration: none;
  color: black;
  display: block;
  transition: .3s background-color;
   font-size:.75em;
  text-align: center;

}
 
.subnav a:hover {
  background-color: white;
}
 
.subnav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .subnav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .subnav li {
    display: inline-block;
    margin-right: -4px;
  }
 }
.tags{
  background-color: #1e4553;
  color: white;
  width: auto;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;

}
#tags{
   position: fixed;
   z-index: 1000;
   top: 142px;
}
#panel{
  top:130px;
}

.tags:hover{
  opacity: 0.75;
}
.count{
  background-color: #40b8e3;
  color: white;
  width: auto;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
#header{
  border-bottom: none!important;
  background-color: white!important;
}

#header:after{
  border-bottom:none!important;
}

@media screen and (min-width: 768px) {
.col-sm-5 {
  width: 1%!important;
}
}

.rojo{
 background-color:  hsl(359, 75%, 60%)!important;
 color: white;
}
.rojo:hover{
 background-color:  hsl(359, 75%, 60%)!important;
 color: white;
}

.multilinea{
  word-wrap: break-word;
  white-space: pre-wrap;
}

}

</style>

<%= bar_nav %>
<div class="container">
    <div class="row">
        <div class="[ col-xs-12 col-sm-offset-1 col-sm-5 ]">
            <div class="[ panel panel-default ] panel-google-plus" id="tags">
                <div class="panel-heading">
                    <h3>Busqueda de empleos por tag:</h3>
                </div>
                <div class="panel-body">
                  <%  @list_tags.each do |a| %>
                    <p class="tags" ><%= a.name %> <span class="count"><%= a.jobs.count %></span> </p>
                  <% end %>
                </div>
            </div>
         </div>
    </div>
</div>

    <% @jobs.each do |job| %>

    <div class="container">
    <div class="row">
        <div class="[ col-xs-12 col-sm-offset-1 col-sm-5 ]">
            <div class="[ panel panel-default ] panel-google-plus" id="panel">
                <div class="panel-google-plus-tags">
                    <ul>
                        <li><%= job.tag.name %></li>
                    </ul>
                    <ul>
                        <li>$ <%= job.salary %></li>
                    </ul> 
                </div>
                <div class="panel-heading">
                    <!--<img class="[ img-circle pull-left ]" src="https://lh3.googleusercontent.com/-CxXg7_7ylq4/AAAAAAAAAAI/AAAAAAAAAQ8/LhCIKQC5Aq4/s46-c-k-no/photo.jpg" alt="Mouse0270" />-->
                    <%= image_tag job.business.logo_url(:thumb), :class=> "[ img-circle pull-left ]",size: "45x45" if job.business.logo? %>
                    <h3><%= job.name %> - <%= job.business.name %> <span> 
                      <% if job.business.verificated.nil? %>
                      <% else %>
                      <%= image_tag("verified_account.png", size: "20x20")%>Empresa verificada
                      <% end %>
                      </span></h3>
                    <h5><span>Publicado hace <%= time_ago_in_words(job.created_at) %></span> </h5>
                </div>
                <div class="panel-body">
                    <p class = "multilinea"><%= job.description %></p>
                    <div class = "multilinea"><%= job.tools %></div>
                </div>
                <div class="panel-footer">
                    <a href="jobs/<%=job.id%>" type="button" class="[ btn btn-default ]">ver detalles</a>
                      <% if job.applications.map(&:user_id).include? current_user.id %>
                        <button type="button" disabled class="[ btn btn-default rojo ]">Participando <li class ="glyphicon glyphicon-ok"></li></button>
                      <% else %>
                      <%= link_to 'Participar en vacante', aplicar_path(:business_id => job.business.id, :job_id => job.id, :cv_id => 1 ), :method => :post,  :class =>"[ btn btn-default ]" %>
                     <% end %>
                     <p>Views: <%= job.countclicks %></p>    
              </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>




<header id="header">
    <div class="wrap">
        <a href="/" class="logo">
            <span class="header">Workers</span>
        </a>
        <nav>
            <a href="/user/edit" class="mobile-hide "><%= I18n.t('Nav_security') %></a>
            <%= link_to I18n.t('Nav_session'), destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        </nav>
    </div>
</header>