<%= estilo_form %>
<div class="container">
    <div class="row">
        <div class="[ col-xs-12 col-sm-offset-1 col-sm-5 ]">
            <div class="[ panel panel-default ] panel-google-plus" id="tags">
                <div class="panel-heading">
                 
                </div>
                <div class="panel-body">
              <%= form_for(@experience) do |f| %>
                <% if @experience.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@experience.errors.count, "error") %> prohibited this experience from being saved:</h2>

                    <ul>
                    <% @experience.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>
              <div class="field">
                  <%= f.label I18n.t('form_empresa_ex') %><br>
                  <%= f.text_field :business, class:'form-control', :placeholder => I18n.t('form_placeholder_ex') %>
              </div>
                <div class="field">
                  <%= f.label I18n.t('form_añoinicial_ex') %><br>
                  <%= f.text_field :datei, class:'form-control' %>
                </div>
                <div class="field">
                  <%= f.label I18n.t('form_añofinal_ex') %><br>
                  <%= f.text_field :datef, class:'form-control' %>
                </div>
                <div class="field">
                  <%= f.label I18n.t('form_puesto_ex') %><br>
                  <%= f.text_field :Puesto, class:'form-control' %>
                </div>
                <div class="field">
                  <%= f.label I18n.t('form_descripcion_corta_ex') %><br>
                  <%= f.text_field :description_short, class:'form-control'  %>
                </div>
                <div class="field">
                  <%= f.label I18n.t('form_descripcion_ex') %><br>
                  <%= f.text_area :description, :size => "100x20", class:'form-control' %>
                </div>
                <div class="field">
                  <%= f.hidden_field :user_id,:value => current_user.id %>
                </div>
                <div class="actions">
                 <%= botonera_experiences %>
                </div>
              <% end %>
        </div>
      </div>
    </div>
  </div>
</div>