<h4><%= I18n.t('titulo_listado_cvs') %></h4>
<% if @cvs.blank? %>
<%= botonera_index_cvs %>
<% else %>
<%= botonera_index_cvs_existe %>
<% end %>
<br>
<table class="table table-bordered">
  <thead>
    <tr>

      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cvs.each do |cv| %>
      <tr>
        <td><%= cv.title %></td>
        <td><%= link_to 'Editar', edit_cv_path(cv) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
