<%= estilo_form %>
<div class="subnav">
    <ul class="subnav-list">
      <li><a href="/hottags" aria-selected="true" class="subnav-item">Hot tags </a></li>
      <li><a href="/jobs/new" aria-selected="true" class="subnav-item">Postulaciones </a></li>
      <li><a href="/jobs/new" aria-selected="true" class="subnav-item">Cloud CV </a></li>
    </ul>
</div>
<div class="container">
    <div class="row">
        <div class="[ col-xs-12 col-sm-offset-1 col-sm-5 ]">
            <div class="[ panel panel-default ] panel-google-plus" id="tags">
                <div class="panel-heading">
                    <h3>Mis tags de busqueda</h3>
                </div>
                <div class="panel-body">
                    <%= form_for(@my_tag) do |f| %>

                        <div class="field">
                          <%= f.hidden_field :user_id, :value => current_user.id %>
                        </div>
                        <div class="field">
                          <%= f.text_field :name,:class => 'form-control ',:placeholder => "Eje. Desarrollo web" %>
                        </div>
                        <div class="actions">
                          <%= f.submit  "Crear tag", :class => "btn botontag" %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
