<h4><%= I18n.t('listado_courses_title') %></h4>
<%= botonera_index_courses %>
<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= I18n.t('form_nombre_co') %></th>
      <th><%= I18n.t('form_descripcion_co') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.description %></td>
        <td><%= link_to 'Editar', edit_course_path(course) %></td>
        <td><%= link_to 'Eliminar', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

