<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @certificate.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @certificate.user_id %>
</p>

<%= link_to 'Edit', edit_certificate_path(@certificate) %> |
<%= link_to 'Back', certificates_path %>
