<%= estilo_form %>
<%= estilo_botonera %>
<div class="container">
    <div class="row">
        <div class="[ col-xs-12 col-sm-offset-1 col-sm-5 ]">
            <div class="[ panel panel-default ] panel-google-plus" id="tags">
                <div class="panel-heading">
                 <%= botonera_edit %>
                </div>
                <div class="panel-body">
                <%= form_for(@education) do |f| %>
                  <% if @education.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@education.errors.count, "error") %> prohibited this education from being saved:</h2>
                      <ul>
                      <% @education.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>

                  <div class="field">
                    <%= f.label I18n.t('form_nivel_ed') %><br>
                    <%= f.text_field :level, class:'form-control', :disabled=> true %>
                  </div>
                  <div class="field">
                    <%= f.label I18n.t('form_escuela_ed')%><br>
                    <%= f.text_field :school, class:'form-control' %>
                  </div>
                    <div class="field">
                    <%= f.label I18n.t('form_titulo_ed')%><br>
                    <%= f.text_field :title, class:'form-control' %>
                  </div>
                  <div class="field">
                    <%= f.label I18n.t('form_añoinicial_ed') %><br>
                    <%= f.text_field :yearInitial, class:'form-control' %>
                  </div>
                  <div class="field">
                    <%= f.label I18n.t('form_añofinal_ed') %><br>
                    <%= f.text_field :yearFinal, class:'form-control' %>
                  </div>
                  <div class="field">
                    <%= f.label I18n.t('form_concluido_ed') %><br>
                    <%= f.check_box :graduated, class:'form-control' %>
                  </div>
                  <div class="field">
                    <%= f.label I18n.t('form_documento_ed') %><br>
                    <%= f.text_field :DocumentReceived, class:'form-control' %>
                  </div>
                  <div class="field">
                    <%= f.label I18n.t('form_promedio_ed') %><br>
                    <%= f.text_field :average, class:'form-control' %>
                  </div>
                  <div class="field">
                    <%= f.label I18n.t('form_comentarios_ed') %><br>
                    <%= f.text_field :comments, class:'form-control' %>
                  </div>
                  <div class="field">
                    <%= f.hidden_field :user_id, :value => current_user.id %>
                  </div>
                  
                <% end %>
                <%= botonera_edit %>
        </div>
      </div>
    </div>
  </div>
</div>
