<!DOCTYPE html>
<html>
<head>
  <title>Worbe</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<body>
  
<% if empresa_signed_in? %>
<header id="header">
    <div class="wrap">
        <a href="/" class="logo"><span class="header">Workers</span></a>
        <nav>     
            <a href="/empresas/edit" class="mobile-hide "><%= I18n.t('Nav_security') %></a>
            <%= link_to I18n.t('Nav_session'), destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        </nav>
    </div>
</header>
<%= render 'style/style' %>
<% end %>
    <% if user_signed_in? %>
    <nav class="ck pd ot app-navbar">
  <div class="by">
    <div class="os">
      <button type="button" class="ov collapsed" data-toggle="collapse" data-target="#navbar-collapse-main">
        <span class="cv">Toggle navigation</span>
        <span class="ow"></span>
        <span class="ow"></span>
        <span class="ow"></span>
      </button>
      <a class="e" href="/application/">
        worbe
      </a>
    </div>
    <div class="f collapse" id="navbar-collapse-main">

        <ul class="nav navbar-nav st">

        </ul>

        <ul class="nav navbar-nav oh ale st">
          <li>
            <%= link_to I18n.t('Nav_session'), destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          </li>
          <li>
            <button class="cg fm oy anl" data-toggle="popover" data-original-title="" title="">
              <img class= "cu" src="<%= @photo.photo_url(:thumb) %>">
            </button>
          </li>
        </ul>

        <ul class="nav navbar-nav su sv sw">
          <li><%= link_to I18n.t('Nav_session'), destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
        </ul>

        <ul class="nav navbar-nav hidden">
          <li><%= link_to I18n.t('Nav_session'), destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
        </ul>
      </div>
  </div>
</nav>

<% end %>
<%= yield %>

</body>
</html>
